body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #585858;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.img {
    width: 100%;
    height: auto;
    display: block;
}

/*header***********************/

.header {
    background-color: rgba(0,0,0, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

/*nav***********************/

.nav {
    display: flex;
    height: 100%;
    justify-content: center;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    display: flex;
    padding: 0 15px;
    align-items: center;
}

.nav__link.active {
    background-color: #004AF2;
}

/*intro***********************/

.intro {
    background: black url("../images/photo bg.jpg") no-repeat center;
    background-size: cover;
    margin-bottom: 30px;
}

.intro__inner {
    display: flex;
    height: 600px;
    align-items: flex-end;
    justify-content: space-between;
}

.form {
    width: 400px;
    height: 415px;
    border: 1px solid blue;
    position: relative;
    top: 20px;
}

.intro__text {
    text-align: right;
    margin-bottom: 45px;
}

.intro__title {
    font-family: 'Lato', sans-serif;
    font-size: 110px;
    color: rgba(255, 255, 255, .8);
    line-height: 0.9;
    font-weight: 900;
    position: relative;
}

.intro__countries {
    color: #fff;
}

.intro__title-amp {
    font-size: 170px;
    color: rgba(255, 255, 255, .2);
    line-height: 0.58;
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.request-form {
    max-width: 400px;
    background-color: #004AF2;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    z-index: 10;
}

.request-form--intro {
    position: relative;
    bottom: -30px;
}

.request-form__header {
    background-color: #033FC9;
    padding: 20px 30px;
}

.request-form__content {
    padding: 30px;
}

.request-form__title {
    font-size: 30px;
    line-height: 48px;
    color: white;
    font-family: Lato;
    font-weight: 900;
}

.request-form__text {
    color: white;
    font-size: 15px;
    line-height: 21px;
    max-width: 340px;
}

.form__group {
    margin-bottom: 25px;
}

.input {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255,255,255, .25);
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    padding-bottom: 12px;
    transition: border-bottom-color .2s ease;
    padding-left: 50px;
}
.input::placeholder {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.input:focus {
    outline: none;
    border-bottom-color: white;
}

.input--user {
    background: url("../images/user-phone.svg") no-repeat left 15px top 5px;
}

.input--phone {
    background: url("../images/user-icon.svg") no-repeat left 15px top 5px;
}

.input--mail {
    background: url("../images/user-mail.svg") no-repeat left 15px top 7px;
}

/*Btn************************/

.btn {
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 15px 45px;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
    line-height: 1.1;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

.btn--block {
    width: 100%;
    display: block;
}

.btn--orange {
    background: linear-gradient(to right, #FF903E, #FF2C2C);
}

.section {
    padding: 60px 0;
}

.section__title {
    font-size: 45px;
    font-family: Lato, sans-serif;
    color: #2c2c2c;
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 40px;
}

.section__title span {
    color: #0D53F2;
}

.section--map {
    background: url("../images/clients/map.svg") left 30px top 130px no-repeat;
}

.section--grey {
    background-color: #F9F9F9;
}

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0,0,0, .2);
    position: relative;
}

.services__item {
    width: 25%;
    padding: 0 25px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.services__title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 19px;
    color: #2C2C2C;
    line-height: 1.2;
}

.services__text {
    font-weight: 400;
    margin-bottom: 19px;
    color: #585858;
}

.services__link {
    color: #004AF2;
    text-decoration: none;
    font-size: 15px;
    position: relative;
    transition: all .2s linear;
    display: inline-block;
}

.services__link:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #004AF2;
    left: 0;
    bottom: -4px;
    transition: all .2s linear;
    pointer-events: none;
    display: inline-block;
}

.services__link:hover {
    color: #FF3E2F;
}

.services__link:hover:after {
    width: 100%;
    background-color: #FF3E2F;
}

.services__footer {
    margin-top: auto;
}

.services__main-title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 90px;
    color: rgba(44,44,44, .05);
    position: absolute;
    right: 30px;
    bottom: 15px;
    line-height: 1;
    pointer-events: none;
    z-index: 1;
}

.clients {
    display: flex;
    margin-bottom: 60px;
}

.clients__logos {
    width: 60%;
}

.clients__reviews {
    width: 40%;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.clients__list li {
    margin-right: 40px;
    margin-bottom: 40px;
}

.clients__love {
    color: #464646;
    font-size: 18px;
    line-height: 21px;
    margin-left: 40px;
    min-height: 47px;
    background: url("../images/clients/_ionicons_svg_ios-heart-empty.svg") no-repeat left 20px top 0;
    padding-top: 5px;
    display: inline-block;
}

.reviews {
    position: relative;
}

.reviews:before {
    position: absolute;
    content: '';
    background: url("../images/clients/lines.svg") left center no-repeat;
    left: 2px;
    top: -16px;
    z-index: 1;
    height: 125px;
    width: 91px;
    display: block;
}

.reviews__header {
    display: flex;
    font-family: Lato, sans-serif;
    margin-bottom: 30px;
    align-items: center;
    position: relative;
    z-index: 2;
}

.reviews__header-content {
    padding-left: 20px;
    flex-grow: 1;
}

.reviews__content p {
    text-indent: 10px;
}

.reviews__photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 3px 6px rgba(0,0,0, .16);
}

.reviews__name {
    font-size: 18px;
    font-weight: 900;
    line-height: 27px;
    color: #2C2C2C;
    margin-bottom: 3px;

}

.reviews__company {
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    color: #2C2C2C;
}

.reviews__content {
    color: #585858;
    line-height: 1.8;
    font-size: 15px;
    font-weight: 400;
}

.benefits {
    display: flex;
}

.benefits__col {
    width: 50%;
}

.benefits-list {
    max-width: 370px;
    width: 100%;
    padding-left: 50px;
    background-image: linear-gradient(to bottom, #fff 40% ,#A5A5A5 40%);
    background-size: 2px 35px;
    background-repeat: repeat-y;
    background-position: 12px -4px;
    position: relative;
    background-color: white;
}

.benefits-list:before,
.benefits-list:after {
    position: absolute;
    content: "";
    display: block;
    width: 25px;
    height: 36px;
    left: 0;
    z-index: 1;

}

.benefits-list:before {
    background: url("../images/pin-start.svg") no-repeat;
    top: -5px;
}

.benefits-list:after {
    background: url("../images/pin-finish.svg") no-repeat;
    bottom: -4px;
}

.benefits-list__item:not(:last-child) {
    margin-bottom: 35px;
}

.benefits-list__title {
    color: #2C2C2C;
    font-family: Lato, sans-serif;
    font-size: 21px;
    line-height: 1;
    font-weight: 900;
    margin-bottom: 11px;
}

.benefits-list__text {
    color: #585858;
    line-height: 21px;
}

.team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__col {
    padding: 0 15px;
    width: 33.3333%;
    margin-bottom: 30px;
}

.team__photo {
    box-shadow: 10px 5px 13px rgba(0, 0, 0, .16);
    margin-bottom: 12px;
}

.team__name {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #2C2C2C;
    margin-bottom: 3px;
    line-height: 1.2;
}

.team__prof {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #585858;
    margin-bottom: 10px;
}

.team__contacts {
    font-size: 14px;
    line-height: 1.2;
}

.team__contacts li {
    margin-bottom: 8px;
}

.team__contacts a {
    text-decoration: none;
    color: inherit;
}

.team__contacts a:hover {
    text-decoration: underline;
}

.team__contacts-icon {
    width: 16px;
    height: auto;
    margin-right: 8px;
}





























