body {
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #585858;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.no-scroll {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.img,
.text img {
    width: 100%;
    height: auto;
    display: block;
}



.text-center {
    text-align: center;
}

.rel {
    position: relative;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*header***********************/

.header {
    background-color: rgba(0,0,0, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.header--dark {
    background-color: rgba(0,0,0, 0.9);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

/*nav***********************/

.nav {
    display: flex;
    height: 100%;
      justify-content: center;
    background-color: rgba(0,0,0, .85);
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    display: flex;
    padding: 0 15px;
    align-items: center;
}

.nav__link:not(.active):hover {
    text-decoration: underline;
}

.nav__link.active {
    background-color: #004AF2;
}

.burger {
    display: none;
}

/*intro***********************/

.intro {
    background: black url("../images/photo bg.jpg") no-repeat center;
    background-size: cover;
    margin-bottom: 30px;
}

.intro--blog {
    height: 350px;
    background: black url("../images/bg.jpg") no-repeat center;
    background-size: cover;
}

.intro--text {
    height: 350px;
    background: black url("../images/photobg.jpg") no-repeat center;
    background-size: cover;
}

.intro__inner {
    display: flex;
    height: 600px;
    align-items: flex-end;
    justify-content: space-between;
}

.form {
    width: 400px;
    height: 415px;
    border: 1px solid blue;
    position: relative;
    top: 20px;
}

.intro__text {
    text-align: right;
    margin-bottom: 45px;
}

.intro__title {
    font-family: 'Lato', sans-serif;
    font-size: 110px;
    color: rgba(255, 255, 255, .8);
    line-height: 0.9;
    font-weight: 900;
    position: relative;
}

.intro__countries {
    color: #fff;
}

.intro__title-amp {
    font-size: 170px;
    color: rgba(255, 255, 255, .2);
    line-height: 0.58;
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.request-form {
    max-width: 400px;
    background-color: #004AF2;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    z-index: 10;
}

.request-form--right {
    margin-left: auto;
}

.request-form--intro {
    position: relative;
    bottom: -30px;
}

.request-form__header {
    background-color: #033FC9;
    padding: 20px 30px;
}

.request-form__content {
    padding: 30px;
}

.request-form__title {
    font-size: 30px;
    line-height: 48px;
    color: white;
    font-family: Lato;
    font-weight: 900;
    margin-bottom: 5px;
}

.request-form__text {
    color: white;
    font-size: 16px;
    line-height: 21px;
    max-width: 340px;
}

.form__group {
    margin-bottom: 25px;
}

.input {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255,255,255, .25);
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    padding-bottom: 12px;
    transition: border-bottom-color .2s ease;
    padding-left: 50px;
}
.input::placeholder {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.input:focus {
    outline: none;
    border-bottom-color: white;
}

.input--user {
    background: url("../images/user-phone.svg") no-repeat left 15px top 5px;
}

.input--dark {
    border-bottom-color: #E8E8E8;
    color: #2C2C2C;
}

.input--dark::placeholder {
    color: #2C2C2C;
}

.input--dark.input--user {
    background-image: url("../images/_ionicons_svg_ios-person.svg");
}

.input--dark.input--phone {
    background-image: url("../images/_ionicons_svg_ios-call.svg");
}

.input--dark.input--mail {
    background-image: url("../images/_ionicons_svg_ios-mail.svg");
}

.input--dark:focus {
    border-bottom-color: #000;
}

.input--phone {
    background: url("../images/user-icon.svg") no-repeat left 15px top 5px;
}

.input--mail {
    background: url("../images/user-mail.svg") no-repeat left 15px top 7px;
}

/*Btn************************/

.btn {
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 15px 45px;
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
    line-height: 1.1;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.btn span {
    position: relative;
    z-index: 2;
}



.btn:before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: #080808;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .2s linear;

}

.btn:hover:before {
    opacity: 15%;
}

.btn--block {
    width: 100%;
    display: block;
}

.btn--orange {
    background: linear-gradient(to right, #FF903E, #FF2C2C);
}


.btn--shadow {
    box-shadow: 0 10px 15px rgba(0,0,0, .2);
}

.section {
    padding: 60px 0;
}

.section__title {
    font-size: 45px;
    font-family: Lato, sans-serif;
    color: #2c2c2c;
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 40px;
}

.section__title span {
    color: #0D53F2;
}

.section--map {
    background: url("../images/clients/map.svg") left 30px top 130px no-repeat;
}

.section--last {
    margin-bottom: 60px;
}

.section--grey {
    background-color: #F9F9F9;
}

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0,0,0, .2);
    position: relative;
}

.services__item {
    width: 25%;
    padding: 0 25px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.services__title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 19px;
    color: #2C2C2C;
    line-height: 1.2;
}

.services__text {
    font-weight: 400;
    margin-bottom: 19px;
    color: #585858;
}

.services__link {
    color: #004AF2;
    text-decoration: none;
    font-size: 15px;
    position: relative;
    transition: all .2s linear;
    display: inline-block;
}

.services__link:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #004AF2;
    left: 0;
    bottom: -4px;
    transition: all .2s linear;
    pointer-events: none;
    display: inline-block;
}

.services__link:hover {
    color: #FF3E2F;
}

.services__link:hover:after {
    width: 100%;
    background-color: #FF3E2F;
}

.services__footer {
    margin-top: auto;
}

.services__main-title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 90px;
    color: rgba(44,44,44, .05);
    position: absolute;
    right: 30px;
    bottom: 15px;
    line-height: 1;
    pointer-events: none;
    z-index: 1;
}

.clients {
    display: flex;
    margin-bottom: 60px;
}

.clients__logos {
    width: 60%;
}

.clients__reviews {
    width: 40%;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.clients__list li {
    margin-right: 40px;
    margin-bottom: 40px;
}

.clients__love {
    color: #464646;
    font-size: 18px;
    line-height: 21px;
    margin-left: 40px;
    min-height: 47px;
    background: url("../images/clients/_ionicons_svg_ios-heart-empty.svg") no-repeat left 20px top 0;
    padding-top: 5px;
    display: inline-block;
}

.reviews {
    position: relative;
}

.reviews:before {
    position: absolute;
    content: '';
    background: url("../images/clients/lines.svg") left center no-repeat;
    left: 2px;
    top: -16px;
    z-index: 1;
    height: 125px;
    width: 91px;
    display: block;
}

.reviews__header {
    display: flex;
    font-family: Lato, sans-serif;
    margin-bottom: 30px;
    align-items: center;
    position: relative;
    z-index: 2;
}

.reviews__header-content {
    padding-left: 20px;
    flex-grow: 1;
}

.reviews__content p {
    text-indent: 10px;
}

.reviews__photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 3px 6px rgba(0,0,0, .16);
}

.reviews__name {
    font-size: 18px;
    font-weight: 900;
    line-height: 27px;
    color: #2C2C2C;
    margin-bottom: 3px;

}

.reviews__company {
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    color: #2C2C2C;
}

.reviews__content {
    color: #585858;
    line-height: 1.8;
    font-size: 15px;
    font-weight: 400;
}

.benefits {
    display: flex;
}

.benefits__col {
    width: 50%;
}

.benefits-list {
    max-width: 370px;
    width: 100%;
    padding-left: 50px;
    background-image: linear-gradient(to bottom, #fff 40% ,#A5A5A5 40%);
    background-size: 2px 35px;
    background-repeat: repeat-y;
    background-position: 12px -4px;
    position: relative;
    background-color: white;
}

.benefits-list:before,
.benefits-list:after {
    position: absolute;
    content: "";
    display: block;
    width: 25px;
    height: 36px;
    left: 0;
    z-index: 1;

}

.benefits-list:before {
    background: url("../images/pin-start.svg") no-repeat;
    top: -5px;
}

.benefits-list:after {
    background: url("../images/pin-finish.svg") no-repeat;
    bottom: -4px;
}

.benefits-list__item:not(:last-child) {
    margin-bottom: 35px;
}

.benefits-list__title {
    color: #2C2C2C;
    font-family: Lato, sans-serif;
    font-size: 21px;
    line-height: 1;
    font-weight: 900;
    margin-bottom: 11px;
}

.benefits-list__text {
    color: #585858;
    line-height: 21px;
}

.team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__col {
    padding: 0 15px;
    width: 33.3333%;
    margin-bottom: 30px;
}

.team__photo {
    box-shadow: 10px 5px 13px rgba(0, 0, 0, .16);
    margin-bottom: 12px;
}

.team__name {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #2C2C2C;
    margin-bottom: 3px;
    line-height: 1.2;
}

.team__prof {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #585858;
    margin-bottom: 10px;
}

.team__contacts {
    font-size: 14px;
    line-height: 1.2;
}

.team__contacts li {
    margin-bottom: 8px;
}

.team__contacts a {
    text-decoration: none;
    color: inherit;
}

.team__contacts a:hover {
    text-decoration: underline;
}

.team__contacts-icon {
    width: 16px;
    height: auto;
    margin-right: 8px;
}

.mission {
    padding: 60px 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0,0,0, .16);
    margin-bottom: 30px;
    text-align: center;
    margin-top: -23px;
    position: relative;

}

.mission__title {
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #004AF2;
    line-height: 1.2;
    margin-bottom: 5px;
}

.mission__subtitle {
    font-family: Lato, sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #585858;
}

.mission:after,
.mission:before{
    width: 41%;
    height: 2px;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
}

.mission:before {
    background-color: #004AF2;
    right: 50%;
}

.mission:after {
    background-color: #FC2C2B;
    left: 50%;
}

.mission-title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 90px;
    color: rgba(0,0,0, .16);
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

.articles {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px 30px;

}

.articles--column {
    flex-direction: column;
}

.articles--column .articles__item {
    max-width: none;
    margin-bottom: 45px;
}

.articles__item {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    padding: 0 15px;
}

.articles__title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 15px;
}

.articles__title a {
    text-decoration: none;
    color: #2C2C2C;
}

.articles__title a:hover {
    text-decoration: underline;
}

.articles__text {
    margin-bottom: 14px;
    color: #585858;
}

.news__date {
    font-size: 12px;
    color: #6E6E6E;
    display: block;
}

.footer {
    margin-top: auto;
    background-color: #F9F9F9;
    padding: 41px 0px;
    background-image:
      url('../images/1.svg'),
      url('../images/2.svg');
    background-repeat: no-repeat;
    background-position: left -50px bottom -80px, right -50px bottom -80px;
    text-align: center;

}

.footer__contacts {
    margin: 25px 0;
    text-align: center;
    color: #585858;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;

}

.footer__contacts p {
    margin: 0 0 5px;
}

.footer__contacts a {
    text-decoration: none;
    color: inherit;
}

.footer__contacts a:hover {
    text-decoration: underline;
}

.footer__nav {
    font-size: 12px;
}

.footer__nav a {
    margin: 0 5px;
    color: #004AF2;
    text-decoration: none;
}

.footer__nav a:hover {
    text-decoration: underline;
}

/*Modal*/
.modal {
    display: none;
    /*display: flex;*/
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .9);
    padding: 30px 15px;
    overflow-y: auto;
}

.modal.show {
    display: flex;
}

.modal__inner {
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    padding: 25px;
    position: relative;
    margin-top: 50px;
}

.modal__title {
    font-size: 24px;
    font-family: Lato, sans-serif;
    line-height: 1.2;
    font-weight: 900;
    color: #004AF2;
    margin-bottom: 10px;
}

.modal__text {
    color: #2C2C2C;
}

.modal__header {
    text-align: center;
    margin-bottom: 25px;
}

.modal__footer {
    border-top: 1px solid #E8E8E8;
    margin-top: 25px;
    padding-top: 25px;
    text-align: center;
}

.modal__footer-title {
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #2C2C2C;
}

.modal__contacts {
    font-style: normal;
    color: #2C2C2C;
}

.modal__contacts p {
    margin-bottom: 3px;
}

.modal__contacts a {
    text-decoration: none;
    color: #2C2C2C;
}

.modal__contacts a:hover {
    text-decoration: underline;
}

.modal__close {
    position: absolute;
    top: -20px;
    right: -30px;
    z-index: 1000;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform .2s linear;
}

.modal__close img {
    display: block;
}

.modal__close:hover {
    transform: rotate(90deg);
}

.modal__icon {
    margin-bottom: 10px;
}


.main {
    display: flex;
}

.main__col {
    width: 50%;
}

.text {
    font-size: 18px;
    line-height: 1.5;
    color: #585858;
    max-width: 890px;
    margin-bottom: 50px;
}

.text p {
    margin-bottom: 20px;
}

.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
    color: #2C2C2C;
    font-weight: bold;
    margin-bottom: 20px;
}

.text h2 {
    font-size: 27px;
}

.text h3 {
    font-size: 24px;
}

.text h4 {
    font-size: 21px;
}

.text h5 {
    font-size: 18px;
}

.text h6 {
    font-size: 15px;
}

.text ul,
.text ol {
    margin-bottom: 20px;
}

.text ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.text hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background: #d1d1d1;
    margin: 40px 0;
}

.text a {
    font-size: inherit;
    text-decoration: none;
    color: blue;
}

.text a:hover {
    text-decoration: underline;
}



/*Медиа*/
@media (max-width: 991px) {
    .section__title {
        text-align: center;
    }

    .section--map {
        background-position: top 130px center;
    }

    .services__item {
        width: 50%;
    }

    .clients__list {
        justify-content: center;
    }

    .clients__logos {
        margin-bottom: 50px;
    }

    .clients {
        margin-bottom: 30px;
        flex-direction: column;
    }

    .clients__logos,
    .clients__reviews {
        width: 100%;
    }

    .footer {
        background-size: 330px auto;
    }

    .intro__title {
        font-size: 90px;
    }

    .intro__title-amp {
        font-size: 135px;
    }
    .main {
        margin: 0 -15px;
    }
    .main__col {
        padding: 0 15px;
    }
    .main__col-left {
        max-width: 55%;
    }
    .main__col-right {
        max-width: 45%;
    }
    .intro--blog,
    .intro-text  {
        max-height: 250px;
    }
}
    @media (max-width: 767px) {
    /*header*/
    .header__inner {
        height: 50px;
    }

    /*nav*/
    .nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        flex-direction: column;
        padding-top: 9px;
        height: auto;
        min-height: calc(100vh - 50px);
        justify-content: flex-start;
    }
    .burger {
        display: block;
        padding: 0;
        border: none;
        background: none;
    }
    .nav__link {
        display: block;
        padding: 10px 15px;
        text-align: right;

    }

    .intro__inner {
        height: auto;
        padding-top: 75px;
        padding-bottom: 25px;
        flex-direction: column;
        align-items: center;
    }
    .intro__text {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
        order: 1;
    }
    .intro__title {
        font-size: 75px;
    }
    .intro__title-amp {
        font-size: 105px;
    }
    .request-form--intro {
        position: static;
        order: 2;
    }
    .intro__title-amp {
        right: auto;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        font-size: 120px;
    }
    .intro__title {
        font-size: 90px;
    }
    .intro {
        margin-bottom: 0;
    }
    .clients {
        flex-direction: column;
    }
    .clients__logos,
    .clients__reviews {
        width: 100%;
    }
    .clients__list {
        margin: 0 -15px;
    }
    .clients__list li {
        width: 33%;
        margin-right: 0;
        padding: 0 15px;

    }
    .clients__list-logo {
        margin: 0 auto;
    }
    .benefits {
        flex-direction: column;
    }
    .benefits__col {
        width: 100%;
    }
    .benefits-list {
        max-width: none;
        margin-bottom: 30px;
    }
    .team__col {
        width: 100%;
    }
    .team {
        flex-direction: column;
    }
    .team__item {
        max-width: 600px;
        margin: 0 auto;
    }
    .team__col:last-child {
        margin-bottom: 0;
    }
    .section {
        padding: 40px 0;
    }
    .mission-title {
        font-size: 70px;
    }
    .mission {
        padding: 40px 20px;
        margin-top: -16px;
    }
    .mission__title {
        font-size: 24px;
    }
    .mission__subtitle {
        font-size: 18px;
    }
    .articles {
        flex-wrap: wrap;
    }
    .articles__item {
        max-width: none;
    }
    .footer {
        background-size: 250px auto;
        background-position: left -50px bottom -30px, right -50px bottom -30px;
        padding: 22px;
    }
        .main {
            flex-direction: column;
        }
        .main__col {
            width: 100%;
        }
        .articles__title {
            font-size: 20px;
        }
        .request-form--right {
            margin: 30px auto 0;
        }
        .articles--column .articles__item:last-child {
            margin-bottom: 0;
        }
        .main__col-left {
            max-width: 100%;
        }
        .main__col-right {
            max-width: 100%;
        }
        .section--last {
            margin-bottom: 0;
        }
        .intro--text {
            max-height: 250px;
        }
}

@media (max-width: 575px) {
    .intro__title {
        font-size: 60px;
    }
    .intro__title-amp {
        right: auto;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        font-size: 90px;
    }
    .services {
        padding: 50px 0 0;
    }
    .services__item {
        width: 100%;
    }
    .services__main-title {
        font-size: 60px;
        top: -6px;
        text-align: center;
        width: 100%;
    }
    .section {
        padding: 30px 0;
    }
    .section__title {
        font-size: 35px;
    }
    .mission-title {
        font-size: 40px;
    }
    .mission {
        padding: 16px 20px;
        margin-top: -10px;
    }
    .mission__title {
        font-size: 20px;
    }
    .mission__subtitle {
        font-size: 16px;
    }
    .section--last {
        margin-bottom: 20px;
    }
    .footer {
        background-size: 250px auto;
        background-position: left -120px bottom -80px, right -120px bottom -80px;

    }
    .modal__inner {
        padding: 15px;
    }
    .modal__close {
        right: 0;
        top: -30px;
    }
    .request-form {
        max-width: 337px;
    }
    .request-form__header {
        padding: 20px;
    }
    .request-form__content {
        padding: 20px;
    }
    .request-form__title {
        font-size: 25px;
    }
}
@media (max-width: 320px) {
    .intro__title {
        font-size: 40px;
    }
    .intro__title-amp {
        font-size: 50px;
    }
}




















