@import url("blocks/header.css");
@import url("blocks/home.css");
@import url("blocks/btn.css");
@import url("blocks/how-it-works.css");
body {
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}

.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/*Grid*/
.container {
    width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}





































