.btn, a.btn {
    background: #01996D;
    font-size: 20px;
    padding-left: 51px;
    padding-right: 51px;
    border-radius: 4px;
    color: #FFFFFF;
    min-height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn--big, a.btn--big {
    min-height: 65px;
}

.btn:hover, a.btn:hover {
    opacity: .8;
    color: #fff;
}

@media (max-width: 576px) {
    .btn--big, a.btn--big {
        min-height: 55px;
        padding-left: 33px;
        padding-right: 33px;
    }
}