.footer {
    padding-top: 104px;
    padding-bottom: 144px;
    background-color: #245852;
    color: white;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 106px;
    height: auto;
}

.footer-logo + * {
    margin-top: 82px;
}

.footer-list li + li {
    margin-top: 63px;
}

.footer-list-link {
    color: white;
    font-size: 25px;
    line-height: 1;
    font-weight: 600;
}

.footer-list-link:hover {
    text-decoration: underline;
}

@media (max-width: 991px) {
    .footer-logo + * {
        margin-top: 53px;
    }
    .footer-list li + li {
        margin-top: 52px;
    }
    .footer {
        padding-bottom: 104px;
    }
}

@media (max-width: 576px) {
    .footer {
        padding-bottom: 58px;
        padding-top: 58px;
    }

    .footer-logo {
        width: 86px;
    }

    .footer-list-link {
        font-size: 21px;
        letter-spacing: 2px;
    }
    .footer-list li + li {
        margin-top: 40px;
    }
    .footer-logo {
        margin: 0 auto;
    }
    .footer-content {
        text-align: center;
    }
}