.header {
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #D6D6D6;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-logo {
    margin-right: 173px;
    width: 79px;
    height: 23px;
}

.header-nav {
    font-weight: 500;
    color: #292929;
}

.header-nav ul {
    display: flex;
}

.header-nav li:not(:last-child) {
    margin-right: 72px;
}

.header-nav a {
    transition: color .2s linear;
}

.header-nav a:hover {
    color: #01996D;
}

.header-login {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-login > * + * {
    margin-left: 35px;
}

.header-login-link {
    color: #000;
    transition: color .2s linear;
}

.header-login a:hover {
    color: #01996D;
}







