.product {
    padding-top: 120px;
    padding-bottom: 168px;
}

.product-row {
    display: flex;
    justify-content: space-between;
}

.product-wrapper {
    margin-right: 86px;
    padding-left: 61px;
    padding-bottom: 75px;
    position: relative;
}

.product-img {
    border-radius: 18px;
}

.product-content {
    max-width: 584px;
}

.product-content-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    margin-bottom: 10px;
}

.product-content-subtitle {
    font-family: Georgia, Serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996D;
    margin-bottom: 20px;

}

.product-content-text {
    font-size: 20px;
    color: #484848;
    margin-bottom: 31px;
    line-height: 157%;
}

.product-content-btn {
    display: flex;
}

@media (max-width: 1399px) {
    .product-content {
        flex-shrink: 5;
    }
    .product-wrapper {
        margin-right: 56px;
    }
}

@media (max-width: 1199px) {
    .product {
        padding-top: 76px;
        padding-bottom: 96px;
    }
    .product-content-subtitle {
        line-height: 141%;
        font-size: 45px;
    }
    .product-wrapper {
        flex-basis: 60%;
    }
}

@media (max-width: 960px) {
    .product-row {
        flex-direction: column-reverse;
        align-items: center;
    }
    .product-content {
        margin-bottom: 30px;
    }
}

@media (max-width: 675.5px) {
    .product {
        padding-top: 32px;
        padding-bottom: 0;
    }

    .product-content-btn {
        justify-content: center;
    }

    .product-img {
        margin-bottom: 20px;
    }

    .product-content-subtitle {
        font-size: 35px;
    }
}

@media (max-width: 500px) {
    .product-wrapper {
        margin-right: 0;
        padding-left: 0;
    }
}


