.story {
    background-color: #245852;
    color: white;
    padding: 229px 0 176px;
}

.story-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story-content {
    margin-right: 30px;
    max-width: 580px;
    margin-top: -65px;
}

.story-heading {
    font-family: 'Georgia', Serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    margin-bottom: 38px;
}

.story-text {
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    margin-bottom: 57px;
}

.story-btn {
    display: flex;
    position: absolute;
}


.story-video {
    width: 895px;
    position: relative;
}

.story-video-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.story-video-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.story-video-object {
    border-radius: 14px;
}