div(class='site-nav button-primary')
    div(class='close-button-div')
        button(class="button-primary-outlined close-nav") x
    h3(class="cart-header") Goods
    div(id="category-list")
    h3(class="cart-header") Cart
    div(id="cart-nav")
    div(id="text-right")
        a(href="/order"
          target="_blank")
            button(class="button-primary-outlined") Order