.gitignore
/.idea/
node_modules
node_modules/
node_modules/*
**/node_modules

/сайт на ноде/public/images/

/не в гитхабе/
/не в гитхабе/*
/webovio/Webovio.fig
/телеграмм бот/
/без синхронизации с гитхабом/
/без синхронизации с гитхабом/*
/openserver-sites/shop.loc/vendor/gabordemooij/
/openserver-sites/shop.loc/public/adminlte/dist/
/openserver-sites/shop.loc/public/adminlte/plugins/
/openserver-sites/shop.loc/public/adminlte/



/exercises/exercises1/2.html
/openserver-sites/shop.loc/public/adminlte/dist/css/
/openserver-sites/shop.loc/public/adminlte/dist/img/
/openserver-sites/shop.loc/public/adminlte/dist/js/
/openserver-sites/shop.loc/public/adminlte/plugins/
/настройки phpstorm/

.idea
