
@media (min-width: 1200px) {
  .sale-img {
    height: 415px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// 992px - 1199px
@media (min-width: 1000px) and (max-width: 1199px) {
  .container {
    width: 960px !important;
  }

  body,
  footer {
    width: 100% !important;
    overflow-x: hidden;
  }

  #burger-menu {
    .df;
    .jb;
    .fc;
    right: inherit;
  }

  header {
    .line1 {
      padding: 0;
      border-bottom: none;
      .block {
        height: 94px;
        .logo {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          span {
            display: none;
          }
          img {
            width: 75px;
            height: 75px;
          }
        }
        .tel {
          font-size: 20px;
        }
        .soc {
          display: none;
        }
        .lang {
          display: none;
        }
      }
    }
    .line2 {
      display: none;
    }
  }

  footer {
    .block {
      .df;
      .jb;
      .map {
        width: 50%;
        iframe {
        }
      }
      .contact {
        width: 50%;
        padding-left: 56px;
        padding-top: 29px;
        .logo {
          margin-bottom: 29px;
          img {
            width: 77px;
            height: 77px;
          }
        }
        .tel {
          font-size: 25px;
        }
        .address {
          font-size: 20px;
          margin-top: 13px;
          margin-bottom: 30px;
        }
        .menu {
          ul {
            li {
              margin-bottom: 10px;
              a {
                font-size: 15px;
              }
            }
          }
        }
        .social {
          margin-top: 45px;
          margin-bottom: 62px;
          a {
            svg {
              width: 32px;
              height: 32px;
            }
            &:first-child {
              margin-right: 29px;
            }
          }

        }
        .politic {
          font-size: 13.5px;
        }
      }

    }
  }

  //index -----------------------------------------------------------------------------------

  .sec1 {
    .block {
      .text-block {
        .t1 {
          display: none;
        }
        .t3 {
          margin-bottom: 37px;
        }
        .t4 {
          .btn {
            width: 247px;
            height: 55px;
          }
        }
      }
      img {
        bottom: 45px;
        right: -14px;
        width: 518px;
      }
    }
  }

  .sec2{
    padding-bottom: 115px;
    .trigger-block {
      width: 854px;
      padding: 34px 25px 34px 40px;
      margin: -60px auto 136px;
      .item {
        .t1 {
          font-size: 40px;
        }
        .t2 {
          font-size: 20px;
          line-height: 21px;
        }
      }
    }
    h2 {
      font-size: 30px;;
    }
  }

  .lesson-card {
    width: 300px !important;
    .card {
      .t1 {
        font-size: 15px;
        margin-top: 16px;
        padding-left: 31px;
      }
      .t2 {
        font-size: 25px;
        margin-top: 3px;
        line-height: 100%;
        padding-left: 31px;
      }
      .t3 {
        font-size: 16px;
        width: 141px;
        height: 34px;
        border-radius: 9px;
        margin-left: 31px;
      }
      .t4 {
        font-size: 20px;
        padding-left: 31px;
      }
      .t5 {
        .tt1 {
          font-size: 15px;
          line-height: 25px;
          flex-shrink: 0;
          width: 164px;
        }
        img {
          width: 110px;
          height: 140px;
        }
      }
      .t6 {
        font-size: 15px;
        padding-left: 31px;
        margin: 43px 0 14px;
      }
      button {
        height: 49px;
        width: 100%;
        font-size: 18px;
        color: #FFFFFF;

      }
      a {
        height: 49px;
        width: 100%;
        font-size: 17px;
      }
    }
  }

  .sec3 {
    .block {
      .img-block {
        width: 383px;
        height: 533px;
      }
      .txt-block {
        .df;
        .fc;
        padding-left: 112px;
        .t1 {
          font-size: 20px;
        }
        .t2 {
          font-size: 24px;
          margin: 21px 0 42px;
        }
        .t3 {
          font-size: 20px;
          line-height: 25px;
          margin-bottom: 97px;
          p {
            margin-bottom: 15px;
          }
        }
        a {
          font-size: 20px;
          margin-top: auto;
          img {
            width: 43px;
            margin-left: 45px;
            margin-right: 17px;
          }
        }
      }
    }
  }

  .sec4 {
    padding-top: 35px;
    padding-bottom: 50px;
    h2 {
      font-size: 30px;
    }
    .block {
      margin-top: 56px;
      .item {
        width: 298px;
        height: 207px;
        margin-top: 29px;
        padding-bottom: 15px;
        .twrap {
          .t1 {
            font-size: 25px;
            width: 100%;
          }
        }
        &:first-child, &:nth-child(2) {
          width: 465px;

        }
      }
    }
  }

  .sec5 {
    .block {
      .vc;
      padding-top: 11px;
      .txt-block {
        padding-right: 35px;
        margin-top: 22px;
        .t1 {
          font-size: 24px;
        }
        .t2 {
          font-size: 20px;
          line-height: 24px;
          margin: 42px 0 52px;
        }
        button {
          height: 55px;
          width: 298px;
          font-size: 20px;
        }
      }
      .img-block {
        width: 464px;
        height: 372px;
      }
    }
  }

  .sec6 {
    padding-top: 25px;
    padding-bottom: 30px;
    .block {
      h2 {
        font-size: 30px;
      }
      .desc {
        font-size: 20px;
        margin-top: 41px;
      }
      .master-class-slider {
        margin-top: 50px;
        .swiper-slide .mk-wrapper .txt-block {
          .rb {
            width: 129px;
          }
          .lb {
            padding: 10px 65px 42px 38px;
            .t1 {
              font-size: 16px;
            }
            .t2 {
              font-size: 18px;
              line-height: 22px;
            }
            .t3 {
              font-size: 15px;
            }
          }
        }
        .sl-pg {
          margin-top: 40px;
        }
      }
      .btn-navigation {
        .sw-btn {
        }
      }
    }
  }

  .sec7 {
    padding-top: 83px;
    padding-bottom: 70px;
    h2 {
      font-size: 30px;
    }
    .block {
      margin-top: 55px;
      .item {
        width: 299px;
        height: 251px;
        padding: 17px 16px 27px 28px;

        &:nth-child(even){
          .t3 {
          }
        }

        .t1 {
          font-size: 20px;
          min-height: 56px;
          display: flex;
          align-items: flex-end;
        }
        .t2 {
          margin-top: 12px;
          font-size: 15px;
          line-height: 17px;
        }
        .t3 {
          font-size: 180px;
          right: 19px;
          bottom: 9px;
        }
      }
    }
  }

  .sec8 {
    padding-top: 62px;
    padding-bottom: 74px;
    h2 {
      font-size: 30px;
    }
    .sale-slider {
      margin-top: 55px;
      .sl-pg {
        margin-top: 50px;
      }
    }

    .btn-navigation {
      display: none;
    }
  }

  .sec9 {
    padding-top: 22px;
    padding-bottom: 64px;
    .form {
      width: 958px;
      .t1 {
        margin-bottom: 27px;
      }
      .t2 {
        font-size: 20px;
        max-width: 470px;
        margin: 0 auto;
      }

      form {
        margin-top: 39px;
      }
    }
  }

  //blog
  .blog-top {
    padding-top: 47px;
    .all-title {
      font-size: 30px;
      margin-bottom: 50px;
    }
    .sale-img {
      max-width: 1000px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .sale-txt {
      margin-top: 19px;
      .t1 {
        font-size: 25px;
      }
      a {
        font-size: 16px;
        &:after {
          content: url("../../assets/img/blog-arrow.svg");
          margin-left: 19px;
        }
      }
    }
  }

  .blog-articles {
    padding-top: 141px;
    .all-title {
      font-size: 30px;
      margin-bottom: 48px;
    }
    .block {
      .item {
        width: 294px;
        height: 397px;
        margin-bottom: 56px;
        .img {
          height: 194px;
        }
        .text-wrap {
          padding: 18px 17px 35px 9px;
          .txt {
            line-height: 23px;
          }
          a {

          }
        }
      }
    }
    .nav-links {
      padding-top: 0;
      margin-top: -15px;
      padding-bottom: 137px;
    }
  }

  //post ------------------------------------------------------------------------------------

  .post-top {
    padding-bottom: 60px;
    .block {
      .img-block {
        width: 491px;
        height: 331px;
      }
      .txt {
        font-size: 30px;
        line-height: 35px;
      }
    }
  }

  .course-content {
    .text-block {
      font-size: 20px;
      padding: 118px 40px 57px;
      line-height: 36px;
    }
    .all-post {
      font-size: 20px;
      padding-bottom: 104px;
    }
  }

  //price -------------------------------------------------------------------------------------

  .price-block {

    .container.greenbg {

    }
    .price-table {

      .td {

        a {

        }
      }
      .w60 {

      }
      .w150 {

        &:not(:last-child){

        }
        &.bbird {

          &:before {

          }
        }
      }
      .w100 {

      }
      .table-head {

      }
      .table-item {

        .table-row {

          &:first-child {

            .w100 {

            }
          }
          .w100 {

            .num {

            }
          }
        }
      }
    }
  }

}


@media (min-width: 768px) and (max-width: 999px) {
  .container {
    width: 642px;
  }

  body,
  footer {
    width: 100% !important;
    overflow-x: hidden;
  }

  footer {
    .block {
      .df;
      .jb;
      .map {
        width:47%;
        iframe {
        }
      }
      .contact {
        width: 53%;
        padding-left: 26px;
        padding-top: 37px;
        .logo {
          margin-bottom: 29px;
          img {
            width: 77px;
            height: 77px;
          }
        }
        .tel {
          font-size: 25px;
        }
        .address {
          font-size: 20px;
          margin-top: 13px;
          margin-bottom: 30px;
        }
        .menu {
          ul {
            width: 477px;
            li {
              margin-bottom: 12px;
              a {
                font-size: 15px;
              }
            }
          }
        }
        .social {
          margin-top: 45px;
          margin-bottom: 62px;
          a {
            svg {
              height: 24px;
              width: 24px;
            }
            &:first-child {
              margin-right: 19px;
            }
          }

        }
        .politic {
          font-size: 15px;
        }
      }

    }
  }

  #burger-menu {
    .df;
    .jb;
    .fc;
    right: inherit;
    left: 0;
  }

  header {
      .line1 {
        padding: 0;
        border-bottom: none;
        .container {
          width: 701px;
          .block {
            height: 94px;
            .logo {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              span {
                display: none;
              }
              img {
                width: 75px;
                height: 75px;
              }
            }
            .tel {
              font-size: 19px;
              &:before {
                width: 23px;
                height: 23px;
                content: url("../../assets/img/miniphone.svg");
                margin-right: 15px;
              }
            }
            .soc {
              display: none;
            }
            .lang {
              display: none;
            }
          }
        }

      }
      .line2 {
        display: none;
      }
  }

  .blog-top {
    padding-top: 45px;
    .all-title {
      font-size: 25px;
      margin-bottom: 29px;
    }
    .sale-img {
      height: 241px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .sale-txt {
      margin-top: -26px;
      .t1 {
        margin: 0 auto 30px;
        font-size: 18px;
      }
      a {

        &:after {
          content: url("../../assets/img/blog-arrow.svg");
          margin-left: 16px;
        }
      }
    }
  }

  .blog-articles {
    padding-top: 98px;
    .all-title {
      font-size: 25px;
      margin-bottom: 48px;
    }
    .block {
      .item {
        width: 294px;
        height: 397px;
        margin-bottom: 37px;
        .img {
          height: 194px;
        }
        .text-wrap {
          padding: 24px 22px 30px 9px;
          .txt {
            line-height: 23px;
          }
          a {

          }
        }
      }
    }
    .nav-links {
      padding-top: 6px;
      padding-bottom: 100px;
    }
  }

  //post -----------------------------------------------------------------------------------

  .post-top {
    padding: 47px 0 60px;
    .block {
      .img-block {
        width: 311px;
        height: 385px;
      }
      .txt {
        font-size: 25px;
        line-height: 28px;
        margin-bottom: -50px;
      }
    }
  }

  .course-content {
    .text-block {
      padding: 28px 40px 37px 59px;
        p {
          font-size: 15px;
          line-height: 27px;
          &:not(:last-child){
            margin-bottom: 30px;
          }
        }
      }
    .all-post {
      font-size: 15px;
      padding: 52px 0 97px;
    }
  }

  //price ----------------------------------------------------------------------------------

  .price-block {
    .all-title {
      font-size: 20px;
      margin-bottom: 32px;
    }
    .container.os {
      overflow: scroll;
      width: 100%;
      .price-table {
        width: 1200px;
        font-size: 15px;
        .td {

          a {

          }
        }
        .w60 {

        }
        .w150 {

          &:not(:last-child){

          }
          &.bbird {

            &:before {

            }
          }
        }
        .w100 {

        }
        .table-head {
          height: 61px;
        }
        .table-item {

          .table-row {
            padding: 4px 0;
            &:first-child {

              .w100 {
                font-size: 15px;
              }
            }
            .w100 {

              .num {

              }
            }
          }
        }
      }
    }

  }

  .sec9 {

    .form {
      width: 100%;
      .t1 {

      }
      .t2 {

      }

      form {

        .inpb {

          input {

            &::placeholder {

            }
          }
        }
        button {

        }
      }
    }
  }

}


@media (min-width: 480px) and (max-width: 767px) {

  .container {
    width: 360px;
  }

  body,
  footer {
    width: 100% !important;
  }

  #burger-menu {
    .df;
    .jb;
    .fc;
    right: inherit;
    left: 4px;
    width: 29px;
    height: 18px;
    .box {
      height: 3px;
    }
  }

  header {
    .line1 {
      padding: 0;
      border-bottom: none;
      .container {
        width: 441px;
        .block {
          height: 59px;
          .logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            span {
              display: none;
            }
            img {
              width: 45px;
              height: 45px;
            }
          }
          .tel {
            font-size: 12px;
            &:before {
              width: 14px;
              height: 14px;
              margin-right: 10px;
              content: '';
              background-image: url("../../assets/img/miniphone.svg");
              background-size: contain;
            }
          }
          .soc {
            display: none;
          }
          .lang {
            display: none;
          }
        }
      }

    }
    .line2 {
      display: none;
    }
  }

  footer {
    .container-fluid {
      position: relative;
      .block {
        .df;
        flex-wrap: wrap;
        height: 839px;
        .map {
          width:100%;
          height: 37%;
        }
        .contact {
          width: 100%;
          height: 63%;
          padding-top: 27px;
          order: -1;
          display: flex;
          flex-direction: column;
          align-items: center;
          .logo {
            margin-bottom: 37px;
            img {
              height: 55px;
              width: 55px;
            }
          }
          .tel {
            font-size: 20px;
          }
          .address {
            font-size: 20px;
            margin-top: 15px;
            margin-bottom: 58px;
          }
          .menu {
            margin: 0 auto;
            ul {
              width: 384px;
              margin-right: -112px;
              li {
                margin-bottom: 18px;
                a {
                  font-size: 15px;
                }
              }
            }
          }
          .social {
            margin-top: 45px;
            margin-bottom: 62px;
            a {
              svg {
                height: 25px;
                width: 25px;
              }
              &:first-child {
                margin-right: 19px;
              }
            }

          }
          .politic {
            font-size: 12px;
            width: 100%;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
            background-color: #424242;
            padding: 12px 0;
            opacity: 1;

          }
        }

      }
    }

  }

  .blog-top {
    padding-top: 38px;
    .all-title {
      font-size: 20px;
      margin-bottom: 35px;
    }
    .sale-img {
      height: 203px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .sale-txt {
      margin-top: -20px;
      .t1 {
        margin: 0 auto 24px;
        font-size: 15px;
      }
      a {
        font-size: 15px;
        margin-right: -10px;
        &:after {
          content: url("../../assets/img/blog-arrow.svg");
          margin-left: 8px;
        }
      }
    }
  }

  .blog-articles {
    padding-top: 77px;
    .all-title {
      font-size: 20px;
      margin-bottom: 40px;
    }
    .block {
      .item {
        width: 360px;
        height: 358px;
        margin-bottom: 32px;
        &:not(:first-child):not(:nth-child(2)):not(:nth-child(3)){
          display: none;
        }
        .img {
          height: 173px;
        }
        .text-wrap {
          padding: 17px 28px 25px 9px;
          .txt {
            font-size: 15px;
            line-height: 23px;
          }
          a {
            font-size: 16px;
          }
        }

        }
      }
    }
    .nav-links {
      padding-top: 0px;
      padding-bottom: 78px;
    }

  //post -----------------------------------------------------------------------------------

  .post-top {
    padding: 38px 0 39px;
    .block {

      .fc;
      align-items: center;
      .img-block {
        width: 480px;
        height: 207px;
      }
      .txt {
        font-size: 20px;
        line-height: 27px;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
      }
    }
  }

  .course-content {
    .text-block {
      padding: 35px 17px 42px;
      p {
        font-size: 15px;
        line-height: 27px;
        text-align: center;
        &:not(:last-child){
          margin-bottom: 15px;
        }
      }
    }
    .all-post {
      font-size: 15px;
      padding: 52px 0 76px;
    }
  }


  //price -------------------------------------------------------------------------------------

  .price-block {
    padding-left: 15px;
    padding-right: 15px;
    .all-title {
      font-size: 20px;
      margin-bottom: 32px;
    }
    .container.os {
      overflow: scroll;
      width: 100%;
      .price-table {
        width: 1200px;
        font-size: 15px;
        .td {

          a {

          }
        }
        .w60 {

        }
        .w150 {

          &:not(:last-child){

          }
          &.bbird {

            &:before {

            }
          }
        }
        .w100 {

        }
        .table-head {
          height: 61px;
        }
        .table-item {

          .table-row {
            padding: 4px 0;
            &:first-child {

              .w100 {
                font-size: 15px;
              }
            }
            .w100 {

              .num {

              }
            }
          }
        }
      }
    }

  }


  .container.greenbg {

  }

  .sec9 {

    .form {
      padding: 15px;
      width: 359px;
      .t1 {

      }
      .t2 {

      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .inpb {
          width: 70%;
          input {

            &::placeholder {

            }
          }
        }
        button {
          width: 70%;
        }
      }
    }
  }

}

@media (max-width: 767px) {
  ul.lister {
    width: 100%;
    &.top-l {
      height: auto;
      flex-direction: column;
      li {
        width: 100%;
        height: 40px;
      }
    }
    >li {
      &:not(:last-child){
      }

      &:hover {

      }
      &:first-child {
        flex-grow: 1;

      }
      &.active {


      }
    }
  }
  .inner-tab-content {
    overflow: scroll;
    height: 500px;
    img {
      max-width: none;
    }
  }
}


@media (max-width: 479px) {
  .container {
    width: 300px;
  }

  body,
  footer {
    width: 100% !important;
    overflow-x: hidden;
  }

  #burger-menu {
    .df;
    .jb;
    .fc;
    right: inherit;
    left: 4px;
    width: 29px;
    height: 18px;
    .box {
      height: 3px;
    }
  }

  header {
    .line1 {
      padding: 0;
      border-bottom: none;
      .container {
        .block {
          height: 59px;
          justify-content: flex-end;
          .logo {
            span {
              display: none;
            }
            img {
              width: 40px;
              height: 40px;
            }
          }
          .tel {
            display: none;
          }
          .soc {
            display: none;
          }
          .lang {
            display: none;
          }
        }
      }

    }
    .line2 {
      display: none;
    }
  }

  footer {
    .container-fluid {
      .block {
        .df;
        flex-wrap: wrap;
        height: 839px;
        .map {
          width:100%;
          height: 55%;
        }
        .contact {
          width: 100%;
          height: 45%;
          padding-top: 27px;
          padding-left: 0;
          padding-right: 0;
          order: -1;
          display: flex;
          flex-direction: column;
          align-items: center;
          .logo {
            margin-bottom: 13px;
            img {
              height: 53px;
              width: 53px;
            }
          }
          .tel {
            font-size: 16px;
          }
          .address {
            font-size: 16px;
            margin-top: 4px;
            margin-bottom: 25px;
          }
          .menu {
            margin: 0 auto;
            ul {
              width: 306px;
              margin-right: -90px;
              li {
                margin-bottom: 5px;
                a {
                  font-size: 12px;
                }
              }
            }
          }
          .social {
            margin-top: 8px;
            margin-bottom: 31px;
            a {
              svg {
                height: 20px;
                width: 20px;
              }
              &:first-child {
                margin-right: 15px;
              }
            }

          }
          .politic {
            font-size: 12px;
          }
        }

      }
    }

  }

  .blog-top {
    padding-top: 38px;
    .all-title {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .sale-img {
      height: 323px;
      width: 300px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -207px 0;
      }
    }
    .sale-txt {
      margin-top: -20px;
      align-items: center;
      .t1 {
        margin: 26px auto 32px;
        font-size: 15px;
      }
      a {
        font-size: 15px;
        margin-right: -10px;
        &:after {
          content: url("../../assets/img/blog-arrow.svg");
          margin-left: 8px;
        }
      }
    }
  }

  .blog-articles {
    padding-top: 77px;
    .all-title {
      font-size: 20px;
      margin-bottom: 30px;
    }
    .block {
      .item {
        width: 100%;
        height: 397px;
        margin-bottom: 32px;
        &:not(:first-child):not(:nth-child(2)):not(:nth-child(3)){
          display: none;
        }
        .img {
          height: 194px;
        }
        .text-wrap {
          padding: 17px 28px 35px 9px;
          .txt {
            font-size: 15px;
            line-height: 23px;
          }
          a {
            font-size: 16px;
          }
        }

      }
    }
  }
  .nav-links {
    padding-top: 0px;
    padding-bottom: 78px;
  }

  //price ------------------------------------------------------------------

  .price-block {
    padding-left: 15px;
    padding-right: 15px;
    .all-title {
      font-size: 20px;
      margin-bottom: 32px;
    }
    .container.os {
      overflow: scroll;
      width: 100%;
      .price-table {
        width: 1200px;
        font-size: 15px;
        .td {

          a {

          }
        }
        .w60 {

        }
        .w150 {

          &:not(:last-child){

          }
          &.bbird {

            &:before {

            }
          }
        }
        .w100 {

        }
        .table-head {
          height: 61px;
        }
        .table-item {

          .table-row {
            padding: 4px 0;
            &:first-child {

              .w100 {
                font-size: 15px;
              }
            }
            .w100 {

              .num {

              }
            }
          }
        }
      }
    }

  }

  .sec9 {

    .form {
      padding: 15px;
      max-width: 90%;
      .t1 {

      }
      .t2 {

      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .inpb {
          width: 70%;
          input {

            &::placeholder {

            }
          }
        }
        button {
          width: 70%;
        }
      }
    }
  }

}
