:root {
    --calc-color: #27AE60;
    --calc-border: #ccc;
    --result-height: 50px;
}

.calc * {
    box-sizing: border-box;
}

.dn {
    display: none !important;
}

.price-table {
    margin-bottom: 30px;
}

.calc__wrapper {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

h3.calc__title {
    font-weight: 500;
    font-style: italic;
    margin-bottom: 8px;
    margin-top: 0;
}

.calc__block {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0 auto;
}

.calc__item {
    outline: 2px solid var(--calc-border);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all .1s ease;
    min-height: 60px;
}

.calc__block .calc__item {
    flex-grow: 1;
}

.calc__item:hover {
    outline-color: var(--calc-color);
    box-shadow: 0 0 5px var(--calc-color);
}

.calc__item.active {
    background-color: var(--calc-color);
    color: #fff;
    outline-color: var(--calc-color);
}

.calc__system .calc__item {
    padding-left: 34px;
    padding-right: 34px;
}

form.calc__result {
    display: flex;
    gap: 30px;
}

.result__left {
    flex: 1 1 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result__right {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
}

textarea.result__price {
    border: 2px solid var(--calc-border);
    height: var(--result-height);
    font-size: 30px;
    padding-right: 20px;
    resize: none;
    text-align: right;
    width: 100%;
}

.result__price:focus {
    outline: none;
}

.result__form {
    display: flex;
    gap: 10px;
    flex: 1 1 100%;
}

.result__contact {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
    justify-content: flex-end;
}

.result__phone {
    border: 2px solid var(--calc-border);
    height: var(--result-height);
    font-size: 24px;
    padding-left: 15px;
    padding-right: 8px;

}

.calc__btn {
    height: var(--result-height);
    align-self: flex-end;
    flex: 1 1 20%;
    background: repeating-linear-gradient(to bottom right,rgba(23, 201, 255, 0.45) 0%,rgba(98, 70, 219, 0.45) 100%) #56acf4;
    color: #fff;
    font-weight: 600;
}

.calc__btn:hover {
    box-shadow: 0px 0px 4px rgba(17, 136, 240, 0.5);
}

@media (max-width: 967px){
    .calc__system .calc__item {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media (max-width: 768px) {
    .calc__block {
        flex-direction: column;
        width: 80vw;
        font-size: 21px;
    }
    h3.calc__title {
        font-size: 21px;
    }

    form.calc__result {
        flex-direction: column;
        gap: 15px;
    }

    .result__left {
        flex-direction: row;
        width: 80vw;
        margin: 0 auto;
    }
}

@media (max-width: 500px){
    .result__left .calc__title {
        font-size: 20px;
        margin-bottom: 0;
        margin-right: 5px;
    }

    .result__form {
        flex-direction: column;
    }

    .calc__btn {
        width: 100%;
        min-height: 50px;
        font-size: 20px;
    }

    .result__left {
        align-items: center;
    }

    @media (max-width: 340px){
        .result__left .calc__title {
            font-size: 18px;
        }
        textarea.result__price {
            font-size: 26px;
        }
    }
}

