.author {
  position: absolute;
  right: 10rem;
  bottom: 0;
  z-index: 2;

  @media (max-width: $breakpoint_xl) {
    right: 2rem;
  }

  @media (max-width: $breakpoint_l) {
    right: -6rem;
  }

  @media (max-width: $breakpoint_sm) {
    display: none;
  }
}

