.circle {
  position: absolute;
  z-index: 1;
  right: 5rem;
  bottom: 8rem;
  width: 450px;
  height: 450px;
  background: linear-gradient(to bottom, #f5576c, #f093fb);
  box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
  border-radius: 62% 38% 63% 37% / 50% 41% 59% 50% ;
  animation: circleRadius 12s alternate infinite;

  @media (max-width: $breakpoint_xl) {
    right: 0;
  }

  @media (max-width: $breakpoint_l) {
    right: -12rem;
  }

  @media (max-width: $breakpoint_sm) {
    display: none;
  }
}

@keyframes circleRadius {
  0% {
    border-radius: 62% 38% 63% 37% / 50% 41% 59% 50%;
    transform: translate3d(0,0,0);
  }
  50% {
    border-radius: 54% 46% 46% 54% / 57% 58% 42% 43% ;
    transform: translate3d(-25px,-25px,0);
  }
  100% {
    border-radius: 25% 75% 32% 68% / 30% 71% 29% 70%;
    transform: translate3d(-50px,-50px,0);
  }
}