
*,
*::before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style-type: none;
}

img {
	vertical-align: top;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	color: #252B42;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	background-color: rgba(250, 250, 250, 1);
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container {
	max-width: 1046px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}

._ibg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/*Header-----------------------------------*/
.header {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
@media(max-width: 479px){
	.header__container {
		min-height: 70px;
	}
}
.header__menu {
	margin-left: 133px;
}
.menu {
	padding: 5px 0;
}
@media (max-width: 992px){
	.header__menu {
	margin-left: 80px;
	}
}
@media(max-width: 767px){
	.header__menu {
		margin-left: 40px;
	}
}
@media(max-width: 479px){
	.header__menu {
		margin-left: 20px;
	}
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}
.menu__link {
	color: #737373;
	line-height: 171%;
	font-weight: 600;
}
@media(max-width: 479px){
	.menu__link {
		font-size: 18px;
	}
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item:not(:last-child) {
	margin-right: 21px;
}
/*Header Block-----------------------------------*/
.header-block {
	text-align: center;
	letter-spacing: 0.2px;
}
.header-block__title {
	font-size: 40px;
	line-height: 1.425;
	font-weight: 700;
	margin-bottom: 10px;
}
.header-block__subtitle {
	font-size: 14px;
	line-height: 1.425;
	color: rgba(115, 115, 115, 1);
}
@media (max-width: 992px){
	.header-block__title {
		font-size: 35px;
	}
}
@media (max-width: 767px){
	.header-block__title {
		font-size: 30px;
	}
}



/*Main-----------------------------------*/
.page {
	flex: 1 1 auto;
}

/*Main-block---------------------------------*/
.main-block {
	position: relative;
}
.main-block__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media(max-width: 1300px){
	.main-block__image img {
		object-position: right;
	}
}
@media(max-width: 992px){
	.main-block__image {
		opacity: .5;
	}
}


.main-block__body {
	padding: 184px 0 191px 0;
	position: relative;
	z-index: 2;
	max-width: 400px;
}
@media(max-width: 992px){
	.main-block__body {
		padding: 120px 0 191px 0;
	}
}

@media(max-width: 479px){
	.main-block__body {
		padding: 115px 0 160px 0;
	}
}

.main-block__body>*:not(:last-child) {
	margin-bottom: 35px;
}
.main-block__title {
	font-weight: 800;
	font-size: 58px;
	line-height: 138%;
}
@media(max-width: 479px) {
	.main-block__title {
		font-size: 42px;
		line-height: 138%;
	}
}
.main-block__text {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5;
	color: #737373;
}
.main-block__buttons{
	display: inline-flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
.main-block__button{
	border-radius: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 36px;
	font-size: 14px;
	font-weight: 700;
	line-height: 2;
	min-height: 48px;
	margin: 10px 0;
}

@media(max-width: 479px){
	.main-block__button{
		flex: 1 1 100%;
	}
}
@media(min-width: 479px){
.main-block__button:not(:last-child){
	margin-right: 10px;
}
}
.main-block__button--border {
	background: transparent;
	color: black;
	border: 1px solid #0D5C63;

}
.main-block__button--orange {
	background: #FF7B47;
	color: #fff;
}


/*Services-----------------------------------*/
.services {

}

@media(min-width: 670px){
	.services__body {
		display: flex;
		margin: 0 15px -30px;
		flex-wrap: wrap;
	}
}


.services__column {
	flex: 0 1 33.3333%;
}

@media(min-width: 670px){
	.services__column {
		padding: 0 15px;
	}
}


@media(max-width: 992px){
	.services__column {
		flex: 0 1 50%;
		margin-bottom: 30px;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
}

@media(max-width: 479px){
	.services__item {
		padding: 25px;
	}
}


.services__item {
	background-color: #fff;
	padding: 35px;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.2);
	height: 100%;
}
.item-service__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.3;
	letter-spacing: 0.1px;
}
.item-service__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	color: #737373;
}
.item-service>*{
	margin-bottom: 10px;
}
.item-service--green {
	background-color: rgba(13, 92, 99, 1);
}
.item-service--green .item-service__title{
	color: #FFFFFF;
}
.item-service--green .item-service__text{
	color: #FFFFFF;
}
.page__services {
	margin-top: -111px;
	position: relative;
	z-index: 2;
}


/*Advantages--------------------------------*/
.advantages {
	padding: 80px 0 30px;
}
@media (max-width: 992px){
	.advantages {
		padding: 50px 0 80px;
	}
}
@media (max-width: 767px){
	.advantages {
		padding: 30px 0 80px;
	}
}
@media (max-width: 767px){
	.advantages__header {
		margin-bottom: 25px;
	}
}

.advantages__body {
	display: flex;
	margin: 0 -15px -30px;
	flex-wrap: wrap;
}
.advantages__column {
	padding: 0 15px;
	flex: 0 1 25%;
	margin-bottom: 30px;
}

@media (max-width: 1020px) {
	.advantages__column{
		flex: 0 1 50%;
	}
}

@media (max-width: 560px) {
	.advantages__column{
		flex: 0 1 100%;
	}
}

.advantages__item {
	background-color: #FFFFFF;
	padding: 30px;
	text-align: center;

}
.advantages__item>*:not(:last-child){
	margin-bottom: 10px;
}

.advantages__value {
	font-size: 40px;
	line-height: 140%;
	letter-spacing: 0.2 px;
	color: rgba(37, 43, 66, 1);
	font-weight: 700;
}
.advantages__text {
	color: rgba(115, 115, 115, 1);
	font-size: 16px;
	line-height: 1.5;
	font-weight: bold;
}
.advantages__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;

}

/*Practice-----------------------------------*/

.practice {
	padding: 30px 0 80px 0;
}
@media (max-width: 992px){
	.page__practice {
		margin-top: -80px;
	}
}

.practice__header {
	margin-bottom: 45px;
}
.practice__body {
	margin: 0 -20px -20px;
	display: flex;
	flex-wrap: wrap;
}
.practice__column {
	padding: 0 20px;
	flex: 0 1 25%;
}
@media (max-width: 1080px){
	.practice__column {
	flex: 1 1 50%;
	text-align: center;
		margin-bottom: 30px;
	}
}
@media (max-width: 630px){
	.practice__column {
		flex: 1 1 100%;
		text-align: center;
		margin-bottom: 30px;
	}
}
.practice__item {

}
.item-practice {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.item-practice__content {
	padding: 30px;
	flex: 1 1 auto;
}
.item-practice__link{
	color: inherit;
	margin-bottom: 15px;
	display: inline-block;
}
.item-practice__link:hover {
	text-decoration: underline;
}
.item-practice__title {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.1px;
	font-weight: 700;

}
.item-practice__text {
	letter-spacing: 0.2px;
	font-size: 14px;
	line-height: 1.42;
	color: #737373;
}
.item-practice__image{
	display: block;
	width: 100%;
}

/*Whoweare---------------------------------*/
.whoweare {
	padding: 80px 0 130px 0;
	background-color: #fff;
}

.whoweare__header {
	margin-bottom: 100px;
}

.whoweare__body {
	display: flex;
	align-items: flex-start;
}

.whoweare__video {
	flex: 0 1 57%;
	position: relative;
	padding-bottom: 32.25%;
}
.whoweare__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}
.whoweare__content {
	flex: 1 1 auto;
	padding-left: 120px;
	padding-top: 22px;
}


.whoweare__title {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.425;
	letter-spacing: 0.2px;
	color: rgba(37, 43, 66, 1);
	margin-bottom: 10px;
}

.whoweare__text {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.425;
	letter-spacing: 0.2px;
	color: rgba(115, 115, 115, 1);

}

.whoweare__items {
	margin-top: 50px;
}

.item__whoweare {
	display: flex;
}
.item-whoweare-icon{
	flex: 0 0 32px;
}
.item__whoweare__body{
	flex: 1 1 auto;
	padding-left: 20px;
}
.item__whoweare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	margin-bottom: 5px;
}
.item__whoweare__text {
	font-weight: 600;
	font-size: 14px;
	line-height: 1.71;
	color: rgba(115, 115, 115, 1);
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 225px;
}
.whoweare__item:not(:last-child){
	margin-bottom: 30px;
}

@media(max-width: 1080px){
	.whoweare__content{
		padding-left: 50px;
	}
}



@media(max-width: 950px) {
	.whoweare__title {
		font-size: 24px;
	}
	.whoweare__body {
		flex-direction: column-reverse;
		align-items: stretch;

	}
	.whoweare__header {
		margin-bottom: 20px;
	}
	.whoweare {
		padding: 50px 0 50px 0;
	}
	.whoweare__content{
		margin-bottom: 50px;
		padding-left: 0;
	}
	.whoweare__video {
		padding-bottom: 56.25%;
	}
}
@media(max-width: 767px){
	.whoweare {
		padding: 10px 0 50px 0;
	}
	.whoweare__content{
		margin-bottom: 30px;
	}
	.whoweare__items {
		margin-top: 20px;
	}
}
/*Clients---------------------------------*/
.clients {
	padding: 50px 0;
}
.page__clients {
	margin-bottom: 10px;
}
@media(max-width: 767px){
.clients {
	padding: 30px 0;
	}
}
.clients__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.clients__item {
	flex: 0 1 16.66666%;
	text-align: center;
	padding: 0px 15px;
	min-width: 140px;
}
.clients__items img {
	max-width: 100%;
}

/*Subscribe-----------------------------------*/
.subscribe {
	position: relative;
	padding-bottom: 20px;
}
.subscribe:before {
	content: "";
	position: absolute;
	background-color: rgba(37, 43, 66, 1);
	bottom: 0;
	width: 100%;
	height: 77px;
	z-index: -1;
	left: 0;
}



.subscribe__body {
	padding: 30px 50px;
	align-items: center;
	background-color: rgba(23, 33, 60, 1);
	border-radius: 2px;

}
.subscribe__title {
	max-width: 266px;
	font-size: 24px;
	line-height: 1.33;
	color: #fff;
	font-weight: 700;
}
@media(min-width: 1070px){
	.subscribe__body {
	margin: 0 30px;
	}
}
@media(min-width: 810px){
	.subscribe__body{
	display: flex;
	justify-content: space-between;
	}
}
@media(max-width: 810px){
	.subscribe__title{
		max-width: 100%;
		text-align: center;
		margin-bottom: 15px;
		font-size: 22px;
	}
	.subscribe__body {
		padding: 18px 50px 30px;
		margin: 0 -25px;

	}
}


.subscribe__form {
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}
.subscribe__input {
	flex: 1 1 auto;
	min-height: 58px;
	padding: 0 20px;
	font-size: 16px;
	line-height: 2;
	color: rgba(115, 115, 115, 1);
	border-radius: 5px 0 0 5px;
	background-color: rgba(229, 229, 229, 1);
	border-right: 0;
}
.subscribe__input:focus {
	color: #000;
}
.subscribe__button {
	background-color: rgba(255, 123, 71, 1);
	border: 1px solid #E6E6E6;
	display: flex;
	min-height: 58px;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	font-size: 14px;
	line-height: 2;
	padding: 15px 22px;
	border-radius: 0 5px 5px 0;
	letter-spacing: 0.2px;
}
@media(max-width: 810px) {
	.subscribe__input {
		flex-basis: 70%;
	}
	.subscribe__button {
		flex-basis: 30%;
	}
}














/*Footer-----------------------------------*/
.footer {

}