label[for='comment'] {
	display: none;
}

.author_date {
	display: flex;
	justify-content: space-between;
}

.footer__links {
	display: flex;
	gap: 5%;
	flex-wrap: wrap;
}

.footer__links span {
	font-weight: 700;
}

.footer__links ul {
	padding-left: 0;
	margin-top: 5px;
	list-style-type: none;
}

.cats {
	margin-bottom: 40px;
	margin-top: -10px;
}
