html{
	box-sizing: border-box;
}


/*на случай подключения слайдеров и других библиотек, в которых box-sizing content-box*/
/*теперь у наших элементов этот стиль будет наследоваться от html, а у сторонних библиотек от родителя-обертки*/
*,
*::after,
*:before{
	box-sizing: inherit;
}


body {
	min-width: 320px;
	min-height: 100vh;
	font-family: "Open Sans", Arial, Helvetica, sans-serif; /*первым подключен шрифт от дизайнера*/
	font-size: 16px;
	font-weight: 500;
	color: #110303;
	background-color: #FFFFFF;
	/*указаны самые часто встречающиеся на странице стили элементов*/
}

img{
	max-width: 100%; /*чтобы картинки не были больше ширины родительского блока*/
	height: auto; /*чтобы не искажалась в этом случае*/
}

button {
	cursor: pointer;
	padding: 0;
	border: 0;
	background-color: transparent;
}

a {
	text-decoration: none;
	color: inherit; /*избавляемся от синего цвета ссылок по умолчанию*/
}

address {
	font-style: normal; /*убираем курсив по умолчанию*/
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

.container {
	padding: 0 15px;
	margin: 0 auto;
	max-width: 1100px;
}

section {
	padding: 30px 0;
}

@media (min-width: 768px) {
	.container {
		padding: 0 40px;
	}
	section {
		padding: 50px 0;
	}
}

@media (min-width: 992px) {
	.page__header {
		width: 240px;
		left: 0;
		top: 0;
		height: 100%;
		position: fixed;
	}
	.container {
		padding: 0 30px 0 270px;
	}
	section {
		padding: 65px 0;
	}
}

@media (min-width: 1440px) {
	.page__header {
		width: 355px;
		top: 0;
	}
	section {
		padding: 75px 0;
	}
}