.portfolio__title{
	font-weight: 700;
	font-size: 30px;
	line-height: 120%;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.card{
	max-width: 252px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 20px 14px;
	box-sizing: border-box;
}
.card__picture{
	width: 155px;
	height: 92px;
	border-image: url("../images/macbook.svg");
	background-size: cover;
	padding: 5px 18px 12px;
	align-self: center;
	margin-bottom: 30px;
}
.card__data{
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 23px;
}

.card__client{

	line-height: 120%;
}
.card__title{
	font-weight: 700;
	font-size: 16px;
	line-height: 120%;
}
.card__date{
	line-height: 140%;
}
.portfolio__arrow{
	width: 26px;
	height: 26px;
	background-image: url("../images/arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	top: 50%;
	
}
.portfolio__arrow--left{
	left: 0;
	transform: ;
}
.portfolio__arrow--right{
	right: 0;
	transform: rotate(180deg) translateY(0);
	

	
}
.portfolio__slider{
	position: relative;
	max-width: 290px;
	margin: 0 auto;
}