<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
	</head>
	<body>
		<header>
			admin header
		</header>
		<main>
		  {{{ body }}}
		</main>
		<footer>
			admin footer
		</footer>
	</body>
</html>