<table>
  {{#each users}}
	<tr>
	  <td>{{name}}</td>
	  <td>{{salary}}</td>
	  <td><a href="/users/{{name}}">Подробнее</a></td>
	  <td><a href="/users/delete/{{name}}">Удалить</a></td>
	</tr>
  {{/each}}
</table>