* {
    margin: 0;
}

html, body {
    height: 100vh;
    font-size: 10px;
}

video {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    animation-name: show;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.container a {
    color: inherit;
}

.container svg {
    width: 64px;
    height: 64px;
}

.container svg g{
    fill: white;
}

.header-main{
    font-family: 'Secular One', sans-serif;
    font-size: 10rem;
    text-transform: uppercase;
    background: repeating-linear-gradient(white, white 1px, transparent 1px, transparent 2px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-second {
    font-family: 'Rajdhani', sans-serif;
    font-size: 4rem;
    margin-bottom: 40px;
}