/*******************Общие стили**********************/
:root {
    --width-wrapper: 1200px;
    --color: #000;
    --font-size: 16px;
    --font-family: Lab Grotesque, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
    --bg: #fff;
}


body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--font-size);
    color: var(--color);
    background-color: var(--bg);
}

img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.container {
    position: relative;
    max-width: var(--width-wrapper);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-admin {
    max-width: unset;
}

.df {
    display: flex;
}

.dfc {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 27px;
    text-align: center;
    margin-bottom: 10px;
}
h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.sticky {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px 8px 15px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
    max-width: var(--width-wrapper);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.sticky__logo {
    flex-basis: 15%;
}

.sticky__img {
    max-height: 50px;
}

.sticky__place {
    flex-basis: 25%;
    text-align: center;
}

.sticky__time {
    font-size: 26px;
}

.sticky__address {
    font-size: 20px;
}

.sticky__phone {
    display: flex;
    align-items: center;
    flex-basis: 25%;
}

.sticky__messengers {
    display: flex;
    margin-right: 10px;
}

.sticky__number {
    font-size: 30px;
}

.sticky__email {
    flex-basis: 25%;
    font-size: 30px;
}

.sticky-inner {
    display: flex;
    justify-content: space-between;
    min-height: 35px;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 72px;
    z-index: 10;
    background-color: #fff;
    align-items: center;
    padding: 8px 15px 8px 15px;
    border-bottom: 1px solid #ccc;
    max-width: var(--width-wrapper);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header__delivery {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.delivery__cities {
    flex-basis: 20%;
}

.delivery__services {
    display: flex;
    flex-basis: 80%;
    justify-content: space-between;
}

.delivery__service {
    display: flex;

}

.header__links {
    display: flex;
    justify-content: space-between;
    min-height: 35px;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.order-text {
    font-size: 23px;
    text-align: center;
    margin-bottom: 10px;
}

.order-img {
    display: inline-block;
    height: 30px;
    margin-right: 5px;
}
.order-img a:not(:last-child) {
    margin-right: 2px;
}

.steps {
    text-align: center;
    font-size: 24px;
}

.footer {
    margin-top: auto;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

/*******************Главная страница**********************/

.main-index {
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-page {
    padding-top: 20px;
    padding-bottom: 20px;
}

.display {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.display__item {
    flex-basis: 24%;
    height: 200px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .15s ease;
    margin-bottom: 30px;
}

.display__title {
    font-size: 30px;
    text-align: center;
}

.display__item:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/*******************Печать ИП**********************/






/*******************Формы входа**********************/

.admin-entrance {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #312e81;
}

.admin-form {
    background-color: #e4e4e7;
    padding: 20px;
    border-radius: 5px;
}

.admin-form div {
    margin-bottom: 20px;
}

.admin-form input:not([type="checkbox"]) {
    border: 1px solid grey;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
}

.admin-form-error {
    font-size: 14px;
    color: red;
}

.admin-form-btn {
    background-color: #16a34a;
    color: #fff;
    padding: 8px 25px;
    display: inline-block;
    width: 100%;
    transition: background-color .1s;
}

.admin-form-btn:hover {
    background-color: #15803d;
}

.admin-form-btn:active {
    background-color: #166534;
}

.already-registered {
    text-align: center;
    font-size: 15px;
}

.admin-form .remember_me {
    display: flex;
    align-items: center;
    gap: 8px;
}


/*******************Административная панель**********************/

.header__admin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    background-color: #000;
    color: #fff;
}

.footer__admin {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    background-color: #000;
    color: #fff;
}

.footer__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.footer__links a,  .footer__links button{
    color: #fff;
    border: 1px solid white;
    padding: 8px 25px;
    border-radius: 7px;
}

.footer__links a:hover, .footer__links button:hover {
    box-shadow: 0 0 10px white;
}

.footer__links a:active, .footer__links button:active {
    box-shadow: 0 0 5px white;
}


.admin {
    display: flex;
}

.admin__left {
    flex-basis: 12%;
    background-color: #cbd5e1;
    padding: 12px;
}

.admin__right {
    flex-basis: 88%;
    padding: 12px;
    background-color: #e2e8f0;
    height: 100vh;
}

.admin__list li {
    margin-bottom: 10px;
    font-size: 20px;
}

table.admin__table {
    width: 100%;
    border: none;
}

table.admin__table th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #cbd5e1;

}

table.admin__table td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    vertical-align: middle;
}

table.admin__table td.clip-text {
    max-width: 300px;
    overflow: hidden;
    white-space : nowrap;
    text-overflow: ellipsis;
}


table.admin__table tr:nth-child(even){
    background: #f3f3f3;
}

.admin__btn {
    padding: 5px 8px;
    border: 1px solid grey;
    border-radius: 5px;
    color: #334155;
    transition: box-shadow .1s linear;
}

.admin__btn:hover {
    box-shadow: 0 0 3px #1d4ed8;
}

.admin__btn:active {
    box-shadow: 0 0 1px #1d4ed8;
}

.admin__pagination nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.admin__pagination {
    margin-top: 20px;
}

.admin__pagination nav a {
    text-decoration: underline;
    text-underline-offset: 2px;
}






