:root {
    --orange: #FF7400;
    --dark-orange: #D67E35;
    --light-orange: #BC9060;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.btn {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 14px 18px;
    background-color: var(--orange);
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}
.btn:hover {
    background-color: #ef7805;
}
.btn:active {
    background-color: #e37306;
}

.orange-title {
    color: var(--dark-orange);
}

.block-title {
    font-size: 54px;
}

body {
    margin: 0;
    font-weight: 400;
    font-family: 'Tinos', serif;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 50px 0;
}
.header-line {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}
.header-logo {
    margin-right: auto;
    width: 100px;
    height: auto;
}

.nav {
    display: flex;
    gap: 23px;
    margin-right: 29px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.cart {
    position: relative;
    margin-right: 50px;
}

.cart:after {
    position: absolute;
    content: '';
    height: 51px;
    width: 1px;
    background-color: #fff;
    display: inline-block;
    right: -23px;
    top: -20px;
}

.cart a {
    display: inline-block;
}

.cart__icon {
    width: 20px;
    height: 20px;
    fill: #fff;
    transition: all .2s;
}

.cart__icon:hover {
    fill: #ccc;
}

.phone__icon {
    width: 25px;
    height: 25px;
    fill: #fff;
    margin-right: 5px;
}

.phone {
    color: #fff;
    max-width: 167px;
    margin-right: 44px;
}

.phone__number {
    margin-bottom: 5px;
}

.phone a {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    fill: #fff;
    transition: all .2s;
}

.phone a svg {
    transition: all .2s;
}

.phone a:hover {
    color: #eee;

}

.phone a:hover svg {
    fill: #eee;
}

.phone__text {
    padding-left: 5px;
}

.welcome {
    height: 800px;
    background-image: url('images/bg.jpg');
    background-color: #050304;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 323px;
}

.welcome__block {
    max-width: 503px;
    text-align: center;
}

.welcome__title {
    font-family: Tinos, serif;
    font-weight: 400;
    font-size: 50px;
    color: var(--dark-orange);
    margin-bottom: 5px;
}

.welcome__title span {
    font-size: 80px;
}

.welcome__subtitle {
    font-size: 18px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    position: relative;
    padding-left: 16px;
    margin-bottom: 21px;
}

.welcome__subtitle:before,
.welcome__subtitle:after {
    position: absolute;
    content: '';
    width: 61px;
    height: 2px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
}

.welcome__subtitle:before {
    left: 107px;
}

.welcome__subtitle:after {
    right: 91px;
}

.welcome__button {
    width: 137px;
}

.advantage__row {
    display: flex;
    justify-content: space-between;
    margin-top: -108px;
    padding-bottom: 75px;
}
.advantage__item {
    flex-basis: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 10px 10px 40px 20px rgba(0,0,0, 10%);
    padding: 48px 28px 20px;
    font-size: 26px;
    line-height: 115%;
    text-align: center;

}

.advantage__image {
    width: 87px;
    height: 87px;
    margin-bottom: 4px;
}

.advantage__title {
    margin-bottom: 20px;
}

.advantage__title span {
    color: var(--light-orange);
}

.history {
    padding-top: 75px;
    padding-bottom: 177px;
}
.history__row {
    display: flex;
    justify-content: space-between;
}
.history__content {
    flex-basis: 40%;
    padding-top: 16px;
}

.history__title {
    font-size: 54px;
    margin-bottom: 21px;
    text-align: center;
}

.history__text {
    font-family: "Open Sans", sans-serif;
    line-height: 137%;
    color: #656363;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

.history__count {
    display: flex;
    justify-content: space-between;
    max-width: 301px;
    margin: 0 auto;
}

.count__item {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.count__number {
    font-size: 40px;
    color: var(--light-orange);
    margin-bottom: 2px;
}
.count__text {
    font-size: 20px;
}

.gallery {
    position: relative;
    width: 542px;
}

.gallery__div {
    position: absolute;
    height: 164px;
    width: 39%;
    background-color: #FFE8D0;
    top: 36px;
    right: 45px;
}

.gallery__photo1 {
    position: absolute;
    width: 47%;
    top: 0;
    left: 192px;
}

.gallery__photo2 {
    position: absolute;
    width: 48%;
    bottom: -67px;
    right: 0;
}

.gallery__photo3 {
    position: absolute;
    width: 55%;
    top: 33px;
    left: -11px;
}

.order {
    background-image: url('images/order-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.order__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order__text {
    max-width: 601px;
    padding-top: 80px;
    padding-bottom: 104px;
}
.order__title {
    color: var(--dark-orange);
    font-size: 52px;
    line-height: 115%;
    margin-bottom: 20px;
}
.order__subtitle {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.order__btn {
    margin-right: 20px;
}

.dishes {
    padding-top: 132px;
    padding-bottom: 150px;
}

.dishes__title {
    text-align: center;
    margin-bottom: 139px;
}
.dishes__menu {
    display: flex;
    gap: 30px;
}
.dishes__list {
    flex-grow: 1;
}
.dishes__bg {
    background-image: url('images/dishes-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 474px;
    flex-basis: 40%;
}
.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list__item {
    display: flex;
    align-items: center;
    gap: 30px;
}
.list__dish {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}















