html {
    font-family: "Lab Grotesque";
}

.container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}