.circle {
  position: absolute;
  z-index: 1;
  right: 5rem;
  bottom: 8rem;
  width: 450px;
  height: 450px;
  background: linear-gradient(to bottom, #f5576c, #f093fb);
  box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
  border-radius: 62% 38% 63% 37% / 50% 41% 59% 50% ;
  animation: circleRadius 4s alternate infinite;
}

@keyframes circleRadius {
  0% {
    border-radius: 62% 38% 63% 37% / 50% 41% 59% 50% ;
  }
  100% {
    border-radius: 31% 69% 38% 62% / 37% 41% 59% 63%;
  }
}