.lang {
  text-align: right;
  font-weight: 500;
  font-size: 1rem;
}

.lang__item {
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
  margin-left: .5rem;

  &.active {
    color: $pink;
  }
}