.services {
  margin: 2rem 0;
}

.services__item {
  background-color: $white;
  border-radius: $radius;
  box-shadow: $shadow;
  padding: 1.2rem;
  position: relative;
  height: 100%;
}

.services__icon {
  width: 50px;
  height: 50px;
  top: 1rem;
  left: 1.2rem;
  z-index: 1;
  position: absolute;
}

.services__title {
  font-size: 1.4rem;
  color: $black;
  font-weight: 500;
  padding-left: 5rem;
  margin-top: .5rem;
}

.services__text {
  margin-top: 2rem;
  font-weight: 400;
  color: $black;
  font-size: 1rem;
  margin-bottom: 10px;
}