.social {
  display: flex;
  align-items: center;
}

.social__text {
  color: $black;
  font-size: .8rem;
  font-weight: 600;
  margin-right: 2rem;
}

.social__link {
  display: block;
  &:hover .social__icon {
    fill: $black;
  }
}

.social__icon {
  margin-right: 1rem;
  width: 30px;
  height: 30px;
  fill: #ababab;
  transition: fill .15s linear;

  &--fb {
    width: 23px;
    height: 23px;
  }

  &--inst {
    width: 35px;
    height: 35px;
  }
}