img {
    width: 100%;
    height: auto;
}
.slider {
    max-width: 40%;
    margin: 0 auto;
    border: 1px solid #cccccc;
    overflow: hidden;
}

.slider-line {
    display: flex;
    transition: all .2s linear;
}

.btn-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.btn {
    margin: 0 auto;
}

