code {
  background: #fcf2f2;
  color: #d73e48;
  font-size: 85%;
  line-height: 1.25;
  padding: .1rem .2rem;
}

.code,
code {
  border-radius: .1rem;
}

.code {
  color: #3b4351;
  position: relative;
}

.code:before {
  color: #bcc3ce;
  content: attr(data-lang);
  font-size: .7rem;
  position: absolute;
  right: .4rem;
  top: .1rem;
}

.code code {
  background: #f7f8f9;
  color: inherit;
  display: block;
  line-height: 1.5;
  overflow-x: auto;
  padding: 1rem;
  width: 100%;
}