.bg-primary {
  background: #5755d9!important;
  color: #fff;
}

.bg-secondary {
  background: #f1f1fc!important;
}

.bg-dark {
  background: #303742!important;
  color: #fff;
}

.bg-gray {
  background: #f7f8f9!important;
}

.bg-success {
  background: #32b643!important;
  color: #fff;
}

.bg-warning {
  background: #ffb700!important;
  color: #fff;
}

.bg-error {
  background: #e85600!important;
  color: #fff;
}