.advantage__title{
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	line-height: 120%;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.advantage__list{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}
.advantage__item{
	flex-basis: 290px;
	min-height: 61px;
	font-size: 14px;
	line-height: 140%;
	background-position: left;
	background-size: 61px;
	padding: 10px 10px 10px 81px;
}
.advantage__item--stack{
	background-image: url("../images/stack.svg");
	background-repeat: no-repeat;
}

.advantage__item--mockup {
	background-image: url("../images/mockup.svg");
	background-repeat: no-repeat;
}
.advantage__item--inclusive {
	background-image: url("../images/inclusiv.svg");
	background-repeat: no-repeat;
}
.advantage__item--adapt {
	background-image: url("../images/adapt.svg");
	background-repeat: no-repeat;
}
.advantage__item--clear {
	background-image: url("../images/clear.svg");
	background-repeat: no-repeat;
}
.advantage__item--copyright {
	background-image: url("../images/copyright.svg");
	background-repeat: no-repeat;
}

@media (min-width: 480px) {
	.advantage__title{
		font-size: 40px;
	}
	.advantage__item{
		font-size: 16px;
	}
	.advantage__list{
		gap: 40px;
	}
}

@media (min-width: 768px){
	.advantage__list{
		justify-content: space-between;
		gap: 80px;
	}
	.advantage__title{
		margin-bottom: 50px;
	}
	.advantage__item--stack{
	
	}
	.advantage__item--mockup{
	order: 2;
	}
	.advantage__item--inclusive{
	order: 4;
	}
	.advantage__item--adapt{
		order: 1;
	}
	.advantage__item--clear{
		order: 3;
	}
	.advantage__item--copyright{
		order: 5;
	}
}
@media (min-width: 1440px){
	.advantage__list{
		gap: 100px;
}
	.advantage__item{
		font-size: 18px;
	}
	.advantage__title{
		font-size: 50px;
		margin-bottom: 80px;
	}
}