* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.wrapper {
    width: 80%;
    margin: 20px auto;
}
.enter {
    display: flex;
    justify-content: space-between;
}
.header {
    text-align: center;
    margin-bottom: 40px;
}

.p {
    margin-bottom: 15px;
    text-align: right;
}

.input:not(:last-child) {
    margin-bottom: 8px;
}

.input {
    text-align: right;
}


.date-birth {
    display: flex;
    justify-content: flex-end;
}

.date-birth span {
    font-size: 10px;
    line-height: 1;
    padding-right: 10px;
    padding-top: 2px;
}

.reg {
    font-size: 12px;
    color: red;
    padding-right: 5px;
}

.red {
    border-color: #fa7c7c;
    animation-name: red;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
}

@keyframes red {
    100% {
        box-shadow: 0 0 2px red;
    }
}

input.red:focus {
    outline: inherit;
}

.note {
    font-size: 13px;
    color: red;
}

.info {
    display: flex;
}

.image{
    height: auto;
    display: block;
    width: 35%;
}

.image img {
    max-width: 100%;
}

.information {
    padding-left: 20px;
}

.information p {
    margin-bottom: 20px;
}

.main {
    display: flex;
    padding-top: 10px;
}

.friends {
    width: 34%;
}

.wall {
    width: 64%;
}

.head {
    text-align: center;
}

.friends_list {
    list-style-type: none;
}
.friends_div, .wall_list {
    padding-top: 10px;
}

.textarea {
    width: 100%;
    min-height: 80px;
}

.textarea_input {
    text-align: right;
}

.p-content {
    padding: 3px 0;
    max-width: 100%;
    word-break: break-all;
}

.href-out {
    margin-right: 20px;
}

.write_mess {
    display: flex;
    gap: 20px;
}

.left {
    max-width: 30%;

}

.right {
    max-width: 70%;
    padding-left: 250px;

}

.container {
    display: flex;
}

.left-messages {
    list-style-type: none;
}

.form-mess {
    width: 100%;
}
.textarea-mess {
    width: 500px;
    display: block;
}
