:root {
    --font-color: #000;
    --font-gray-color: #8dafc1;
    --header-link-hover-color: #000;
    --font-link-hover-color: #474646;
    --font-border-color: #b6efff;
    --bg-color: #F9F9F9;
    --transition: all .1s;
}

html {
    background: var(--bg-color);
    font-family: "Lab Grotesque";
    font-size: 32px;
    color: var(--font-color);
}

a {
    color: var(--font-color);
    transition: color .1s;
}


.main a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    background-image: url('/public/storage/images/bg-main.svg');
    background-size: 60vw;
    background-repeat: no-repeat;
    background-position: 147% -15%;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selected {
    border: solid 2px var(--font-border-color);

}

.underlined {
    text-decoration: underline;
    text-decoration-color: #000;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
}

a.underlined {
    text-decoration: underline;
    text-decoration-color: #9b9999;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
}

a.underlined:hover {
    text-decoration-color: #000;
}

/*==========Мигание курсора============*/

.blink {
    animation: cursor 1s step-end;

}
@keyframes cursor {
    50% { color: transparent }
}

/*=====================================Header=====================================*/
.header {
    padding: 30px 35px 30px 35px;
}

.header__block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 40px;
}

.header__logo {
    font-size: 40px;
}

.header__logo span{
    color: #2072FA;
}


.header__menu {
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: 30px;
}

.header__contacts {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
}

.header__phone {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__messengers {
    display: flex;
}

.header__messengers a {
    width: 50px;
    height: 50px;
}

.header__messengers svg {
    width: 100%;
    height: 100%;
    transition: var(--transition);
}

.header__telegram svg {
    fill: #000;
}

.header__telegram svg:hover {
    fill: #229ED9;
}

.header__whatsapp svg {
    fill: #000;
}

.header__whatsapp svg:hover {
    fill: #2BB741;
}

.page__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

/*=====================================Footer=====================================*/

.footer {
    padding: 50px 45px;
    margin-top: 30px;
    background-color: #24252F;
    color: #ccc;
    font-size: 42px;
}

.footer__wrapper {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: start;
}

.footer__col-1 {
    display: flex;
    justify-content: center;
}

.footer__logo {
    color: #fff;
}

.footer__logo span{
    color: #2072FA;
    text-shadow: 0 0 1px #2072FA;
}

.footer__col-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__email, .footer__phone, .footer__address {
    display: flex;
    align-items: center;
    gap: 12px;
}


.footer__email svg, .footer__phone svg, .footer__address svg{
    max-height: 40px;
    max-width: 43px;
    fill: #ccc;
}

.footer__col-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__address {
    max-width: 450px;
    line-height: 1.4;
    align-items: flex-start;
}

.footer__address a {
    line-height: 1;
    margin-top: 12px;

}

.footer__col-4 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 30px;
}

.footer__whatsapp, .footer__telegram {
    padding: 15px 35px;
    display: flex;
    font-size: 23px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
}

.footer__whatsapp {
    background-color: #0B7BFF;
}

.footer__whatsapp:hover {
    background-color: #3270f3;
}

.footer__telegram {
    background-color: #2CC54E;
}

.footer__telegram:hover {
    background-color: #19b85e;
}

.footer__whatsapp svg, .footer__telegram svg {
    width: 50px;
    height: 50px;
    fill: white;
}





/*=====================================Creating=====================================*/

.creating {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url('/public/storage/images/bg1.svg');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: right top;
}

.creating__title {
    font-size: 90px;
    font-weight: 700;
    color: var(--font-color);
}

.creating__subtitle {
    margin-bottom: 50px;
    color: var(--font-color);
    font-weight: 300;
    font-size: 52px;
    line-height: 1;
}

.creating__subtitle-wrapper {
    display: inline-block;
    background: linear-gradient(181deg,transparent 0,transparent 75%, #92ebff 75%);
    width: 230px;
}

.creating__subtitle .creating__cursor {
    margin-left: -8px;
}


.creating__steps {
    font-size: 52px;
    font-weight: 300;
}

.creating__steps li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.creating__steps li svg {
    max-width: 95px;
}

.creating__interest svg {
    transform: translateY(-20px);
}

.creating__steps li:not(:last-of-type) {
    margin-bottom: 10px;
}


/*=====================================Types=====================================*/

.types {
    padding-top: 10px;
    padding-bottom: 10px;
}

.types__title {
    font-size: 110px;
    font-weight: 700;
    color: #ccc;
    margin-bottom: 20px;
    text-align: center;
}

.types__wrapper {
    margin: 0 auto;
    width: 90vw;
}

.types__text {
    max-width: 70%;
}

.types__wrapper h3 {
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 15px;
}

.types__desc {
    font-size: 52px;
    font-weight: 300;
}


.types__item {
    background-color: #fff;
    border-radius: 38px;
    margin-bottom: 30px;
    padding: 20px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.smooth {
    transition: opacity 0.7s ease, transform 1s ease;
}

.smooth.dn {
    opacity: 0;
    transform: translateY(8%);
}

.types__item.item-1 {
    background-color: #C7F8FF;
}

.types__item.item-2 {
    background-color: #A9FFCC;
}

.types__item.item-3 {
    background-color: #FFF0BC;
}

.types__image {
    max-width: 20%;
    object-fit: contain;
    height: 100%;
}


/*=====================================Result=====================================*/

.result {
    padding-bottom: 10px;
    padding-top: 10px;
}

.result__title {
    font-size: 110px;
    font-weight: 700;
    color: #ccc;
    margin-bottom: 40px;
    text-align: center;
}







/*=====================================Cities=====================================*/
.cities__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}

.cities__list {
    font-size: 18px;
}

/*=====================================City-services=============================*/
.city-services__list li {
    line-height: 1.6;
}

.city-services__list li:not(:last-child) {
    margin-bottom: 10px;
}



/*=====================================Pages=====================================*/

.page {
    font-size: 22px;
}

.page h3 {
    font-size: 26px;
    margin-bottom: 10px;
}

.page p {
    margin-bottom: 12px;
    line-height: 1.6;

}

.page section {
    margin-bottom: 40px;
}

.page-banner {
    max-width: 80%;
    margin: 30px auto 0;
    box-shadow: 0 0 10px #eee;
    position: relative;
    overflow: hidden;
}

.page-banner:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 30%;
    transform: skewX(45deg);
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    animation: flareAnimation 5s infinite linear;
}

.page ol li {
    margin-bottom: 10px;
    line-height: 1.6;
}


@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

/*==================================== Медиа запросы ====================================*/

@media (max-width: 992px) {
    .creating__title {
        font-size: 40px;
    }
    .header {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .page__title {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .page {
        font-size: 18px;
    }
    .header__contacts {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
    .page-banner {
        max-width: 100%;
    }
    .header__menu {
        margin-right: 0;
    }
    .page ol li {
        margin-bottom: 5px;
    }
}

@media (max-width: 768px) {
    .city-services__list {
        font-size: 20px;
    }
    .creating {
        padding: 50px;
    }
}

@media (max-width: 576px) {
    .city-services__list {
        font-size: 18px;
    }
    .header__contacts {
        font-size: 22px;
        justify-content: space-between;
        gap: 0;
    }
    .header__menu {
        font-size: 22px;
    }
    .page__title {
        font-size: 22px;
    }
    .page h3 {
        font-size: 22px;
    }
}

@media (max-width: 470px) {
    .header__logo {
        font-size: 22px;
    }
    .header__menu {
        font-size: 18px;
    }
    .header__contacts {
        font-size: 18px;
    }
    .header__telegram {
        width: 30px;
    }
    .header__whatsapp {
        width: 30px;
    }
    .creating__title {
        font-size: 35px;
    }
}

@media (max-width: 375px) {
    .header__telegram {
        width: 22px;
    }
    .header__whatsapp {
        width: 22px;
    }
    .header__phone {
        gap: 3px;
    }
    .header__contacts {
        font-size: 16px;
    }
    .header__menu {
        font-size: 16px;
    }

}
