<footer class="footer">
  <div class="container">
    <div class="social">
      <div class="social__text">Мои соцсети</div>
      <a href="#" class="social__link" target="_blank">
        <svg class="social__icon">
          <use xlink:href="#vk"></use>
        </svg>
        <a href="#" class="social__link" target="_blank">
          <svg class="social__icon social__icon--fb">
            <use xlink:href="#fb"></use>
          </svg>
        </a>
        <a href="#" class="social__link" target="_blank">
          <svg class="social__icon social__icon--inst">
            <use xlink:href="#inst"></use>
          </svg>
        </a>
      </a>
    </div>
  </div>
</footer>