@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* img {
    max-width: 100%;
}

ul {
  list-style: none;
}

:root {
  --bg-color: #121B25;
  --accent-color: #1AA090;
  --text-color: #D6D6D6;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: var(--bg-color);
  color: #fff;
  &._lock {
    overflow: hidden;
  }
}

[class *="__container"] {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

/*=======================General=======================*/

.text {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
  color: var( --text-color);
}

.title {
  font-size: clamp(1.875rem, 1.542rem + 1.67vw, 3rem);
  line-height: 1.2;
  font-weight: 600;
}

.link {
  display: inline-block;
  margin-top: 45px;
  padding: 22px 42px;
  background-color: var(--accent-color);
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
  transition: all .2s;
  cursor: pointer;
  @media (any-hover: hover){
    &:hover {
      background-color: #15786c;
    }
  }
}

.wrapper-btn {
  @media (max-width: 576px) {
    display: flex;
    justify-content: center;
  }
}

/*=======================Header=======================*/

.header {
  padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__logo {
  max-width: 200px;
}

.header__navigation {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
}


.menu__body {
  display: flex;
  align-items: center;
  gap: 40px;
  @media (max-width: 992px) {
    flex-direction: column;
    margin: auto;
  }
}

.menu__link {
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: var(--text-color);
  text-decoration: none;
  transition: color .2s;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: var(--accent-color);
    left: 0;
    right: 0;
    bottom: -5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s;
  }
  @media(any-hover: hover){
    &:hover {
      color: white;
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  @media (max-width: 992px) {
    line-height: 50px;
    font-size: 30px;
  }
}

.header__buttons {
  gap: 5px;
}

.header__btn {
  background-color: transparent;
  color: var(--text-color);
  font-size: 16px;
  border: 2px solid var(--accent-color);
  padding: 11px 20px;
  transition: background-color .2s ease;
  cursor: pointer;
  @media (max-width: 576px) {
    padding: 7px 10px;
  }
}

.login {
  &:hover {
    background-color: var(--accent-color);
  }
}

@media (max-width: 425px) {
  .login {
    display: none;
  }
}

.register {
  background-color: var(--accent-color);
  &:hover {
    background-color: transparent;
  }
}

.menu {
  @media (max-width: 992px) {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 80vw;
    display: flex;
    overflow: auto;
    background-color: var(--accent-color);
    padding: 20px 0;
    transition: left .2s;
    z-index: 10;
    &._active {
      left: 0;
    }
  }
  &-icon {
    display: none;
    @media (max-width: 992px) {
      display: block;
      height: 18px;
      width: 30px;
      position: relative;
      cursor: pointer;
      z-index: 5;
      span {
        transition: all .3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        &:first-child {
          top: 0;
        }
        &:last-child {
          top: auto;
          bottom: 0;
        }
      }
      &._active {
        span {
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }
}

/*=======================Hero=======================*/

.hero {
  margin-top: clamp(1.25rem, -0.66rem + 6.11vw, 4.688rem);
  position: relative;
  padding-bottom: clamp(1.25rem, -1.181rem + 7.78vw, 5.625rem);
  .hero-deco {
    position: absolute;
    bottom: -97px;
    right: 0;
    z-index: -1;
    @media (max-width: 576px) {
      height: 300px;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
  &__content {
    flex-basis: 49%;
    margin-bottom: 160px;
    @media (max-width: 760px) {
      margin-bottom: 10px;
    }
  }
  &__img {
    @media (min-width: 768px) and (max-width: 992px) {
      display: none;
    }
  }
  &__title {
    font-weight: 600;
    font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
    line-height: 1.26;
    text-transform: capitalize;
  }
  &__text {
    margin-top: 18px;
  }
  &__filter {
    height: 100px;
    width: 880px;
    background-color: #fff;
    margin-top: 60px;
    position: absolute;
    @media (max-width: 992px){
      position: static;
      width: 100%;
    }
  }
}

/*=======================Filter=======================*/

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  color: #000;
  @media (max-width: 576px){
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    height: auto;
  }
  @media (max-width: 475px){
    grid-template-columns: 1fr;
    gap: 10px;
  }
  &__block {
    &:nth-child(2){
      border-right: 1px solid #e8e8e8;
      border-left: 1px solid #e8e8e8;
    }
  }
  &__btn {
    padding: 5px;
    button {
      cursor: pointer;
      background-color: var(--accent-color);
      height: 100%;
      width: 100%;
      border: none;
      font-weight: 500;
      font-size: 24px;
      color: #fff;
      padding: 10px;
      &:active {
        background-color: #189384;
      }
    }
    @media (max-width: 576px) and (min-width: 475px) {
      grid-column: 1/4;
    }
  }

}

.block-filter {
  position: relative;
  cursor: pointer;
  &__button {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    padding-left: clamp(1rem, -1rem + 4vw, 2.5rem);
  }
  &__dropdown {
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .2s;
    box-shadow: 0 0 5px #000;
    &._active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(5px);
    }

  }
  &__type {
    padding-right: 2px;
    font-size: 16px;
    color: #858585;
  }
  &__icon {
    background: url("../img/icons/arrow.svg") center bottom no-repeat;
    width: 10px;
    height: 7px;
    transition: transform .2s;
    &._active {
      transform: rotate(180deg);
    }
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__value {
    color: var(--background-color);
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
  }
  &__item {
    padding: 10px;
    transition: background-color .2s linear;
    cursor: pointer;
    text-transform: capitalize;
    @media (any-hover: hover) {
      &:hover {
        background-color: #adadad;
      }
    }
  }
}

.featured {
  padding-top: clamp(1.25rem, -1.181rem + 15vw, 5.625rem);
  padding-bottom: clamp(1.875rem, -0.903rem + 13.89vw, 11.25rem);
  &__box {
    margin-top: clamp(1.875rem, 1.181rem + 2.22vw, 3.125rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    gap: 30px;
  }
  &__item{
    flex: 0 0 auto;
  }
}

.popular {
  background: url("../img/icons/slider-bg.png") center  no-repeat;
  background-size: cover;
  padding-top: clamp(1.875rem, -0.489rem + 11.82vw, 10rem);
  padding-bottom: clamp(1.875rem, -0.489rem + 11.82vw, 10rem);
  &__container{

  }
  &__title{
    @media (max-width: 660px) {
      text-align: center;
    }
  }
  &__slider{
    margin-top: 40px;
    position: relative;
  }
  &__link {
    text-align: center;
  }
  &__link a{
    padding: 22px 42px;
    background-color: var(--accent-color);
    margin-top: 67px;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s;
    &:hover {
      background-color: #15786c;
    }
  }
}

.swiper-wrapper {
  display: inline-flex;
}

.swiper {
  overflow: hidden;
}

.popular-slide {
  display: flex;
  flex-direction: column;
  gap: 27px;
  @media (max-width: 660px) {
    text-align: center;
  }
  &__thumb {

  }
  &__text {

  }
  &__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.26;
    text-transform: capitalize;
  }
  &__desc {

  }
  &__labels {
    display: flex;
    gap: 20px;
    @media (max-width: 660px) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__label {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.popular-slider-btn:last-child {
  transform: rotate(180deg);
}

.slider-buttons {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 1600px) {
    top: -100px;
    width: auto;
    right: 0;
    gap: 50px;

  }
}

.popular-slider-prev {
  position: absolute;
  left: -90px;
}

.popular-slider-next {
  position: absolute;
  right: -90px;
}

.popular-slider-btn {
  cursor: pointer;
  height: 78px;
  width: 78px;
  border-radius: 50%;
  border: 1px solid #A9ADB1;
  background: url("../img/icons/arrow-slider.svg") left 30px center no-repeat;
  background-size: 14px 22px;
  @media (max-width: 1600px) {
    position: static;
  }
  @media (max-width: 660px) {
    display: none;
  }
}

.why {
  padding-top: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
  padding-bottom: clamp(1.875rem, 0.693rem + 5.91vw, 5.938rem);
  &__title {
    text-align: center;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
    gap: clamp(1.25rem, 0.705rem + 10vw, 3.125rem);
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__item {

  }
}

.item-why {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0 0 calc(376 / 1420 * 100%);
  &__img {
    width: clamp(7.5rem, 6.409rem + 5.45vw, 11.25rem);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: clamp(1.563rem, 1.362rem + 1vw, 2.25rem);
    &:before {
      content: '';
      background-color: var(--accent-color);
      border-radius: 50%;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      opacity: 12%;
    }
    svg {
      width: 40%;
      height: 40%;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 26px;
    text-transform: capitalize;
  }
  &__text {
    margin-top: 11px;
  }
}

/*=======================Reviews=======================*/

.reviews {
  position: relative;
  padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
  &-deco {
    position: absolute;
    top: -500px;
    left: -100px;
    z-index: -1;
    @media (max-width: 475px) {
      width: 300px;
    }

  }
  .swiper-wrapper {
    align-items: flex-start;
  }
  &__container {
    max-width: 1020px;
    margin: 0 auto;
    position: relative;
    padding-top: 195px;
  }
  &__quotes {
    color: var(--accent-color);
    text-transform: capitalize;
    font-size: 260px;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__slider {

  }
}

.slider-reviews {
  &__slide {

  }
  &__text {
    font-size: clamp(1.25rem, 1.032rem + 1.09vw, 2rem);
    line-height: 1.57;
    text-transform: capitalize;
  }
  &__info {
    margin-top: 40px;
  }
  &__name {
    font-weight: 600;
    font-size: 22px;
    text-transform: capitalize;
  }
  &__job {

  }
  &__buttons {
    display: flex;
    gap: 69px;
    width: 115px;
    height: 60px;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 15px;
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      background-color: #353F49;
      display: inline-block;
      top: 0;
      bottom: 0;
      left: 50%;
    }
  }
}

.slider-reviews-btn {
  &.swiper-button-disabled {
    svg {
      fill: #767F89;
    }
  }
  svg {
    fill: #fff;
  }

}

.slider-reviews-prev{

}

.slider-reviews-next {
  transform: translateY(-2px);
}

/*=======================Gallery=======================*/

.gallery {
  background: linear-gradient(to right, var(--bg-color), #1A242F);
  padding-top: clamp(1.875rem, -0.489rem + 11.82vw, 10rem);
  padding-bottom: clamp(1.875rem, -0.489rem + 11.82vw, 10rem);
  &__container {
    display: flex;
    align-items: center;
    gap: 63px;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
  &__box {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
  &__item {
    width: 350px;
    --aspect-ratio: 7/11;
    flex: 0 0 47%;
    .swiper-wrapper {
      position: relative;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__info {

  }
  &__title {
    max-width: 517px;
    text-transform: capitalize;
    @media (max-width: 992px) {
      max-width: unset;
    }
  }
  &__text {
    margin-top: 22px;
  }
  &__link {
    margin-top: 45px;
    padding: 22px 42px;
    background-color: var(--accent-color);
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    display: inline-block;
  }
}

/*=======================Begin=======================*/

.begin {
  padding-top: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
  padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
  position: relative;

  &-wave {
    position: absolute;
    left: -5%;
    bottom: -52%;
    z-index: -1;
    @media (max-width: 576px) {
      width: 300px;
    }
  }
  &-rect {
    position: absolute;
    top: -70px;
    right: 0;
    @media (max-width: 600px) {
      display: none;
    }
  }
  &__container {
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 900px){
      flex-direction: column;
    }
    @media (max-width: 600px){
      width: 100%;
    }
  }
  &__slogan {
    font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
    font-weight: 600;
    margin-bottom: clamp(0.938rem, 0.075rem + 4.31vw, 2.5rem);
    @media (min-width: 900px){
      max-width: 41%;
    }
  }
  &__content {
    @media (min-width: 900px){
      width: 51%;
      max-width: 637px;
    }
  }
  &__text {
    margin-bottom: clamp(0.625rem, 0.352rem + 1.36vw, 1.563rem);
    opacity: 37%;

  }
  &__link {
    margin-top: 10px;
  }

}

/*=======================Footer=======================*/

.footer {
  padding-top: clamp(3.125rem, -12.81rem + 25.7vw, 10rem);
  background-color: #1A242F;
  @media (max-width: 768px) {
    padding-top: 35px;
  }
  &__container {
  }
  &__top {
    margin-bottom: clamp(0.938rem, -0.499rem + 4.18vw, 5.875rem);
    display: flex;
    gap: clamp(1.25rem, -0.932rem + 10.91vw, 8.75rem);
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 30px;
    }
  }
  &__company {
    margin-bottom: clamp(0.5rem, 0.245rem + 1vw, 1.375rem);
    flex-basis: 26%;
    @media (max-width: 992px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__logo {
  }
  &__text {
    margin-bottom: clamp(0.75rem, 0.386rem + 1.82vw, 2rem);
    @media (max-width: 992px) {
      width: 45%;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__social {
  }
  &__icons {
  }
  &__menu {
    flex-basis: 62%;

  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: clamp(0.5rem, 0.373rem + 0.64vw, 0.938rem) 0;
    border-top: 1px solid #303A44;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  &__copyright {

  }
  &__design {
  }
}

.social {
  display: flex;
  gap: 31px;
  align-items: center;
  @media (max-width: 992px) {
    gap: clamp(1.25rem, -0.089rem + 6.7vw, 3.125rem);
  }
  a {
    width: 20px;
    height: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 100%;
      max-height: 100%;
      fill: #555E68;
      transition: fill .2s;
    }
    &:hover svg {
      fill: white;
    }
  }
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__block {
    @media (max-width: 576px) {
      flex-basis: 35%;
      margin-bottom: 20px;
    }
    @media (max-width: 375px) {
      flex-basis: 100%;
      text-align: center;
    }
  }
  &__title {
    font-size: clamp(1.125rem, 0.98rem + 0.73vw, 1.625rem);
    font-weight: 600;
    margin-bottom: 11px;
  }
  &__list {
    li {
      margin-bottom: 5px;
      a {
        color: var(--text-color);
        text-decoration: none;
        font-size: 18px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}



