@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* img {
    max-width: 100%;
}

ul {
  list-style: none;
}

:root {
  --bg-color: #121B25;
  --accent-color: #1AA090;
  --text-color: #D6D6D6;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: var(--bg-color);
}

[class *="__container"] {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

/*=======================Header=======================*/

.header {
  padding: 40px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__logo {
  max-width: 200px;
}

.header__navigation {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
}

.header__menu.menu {
}

.menu__body {
  display: flex;
  align-items: center;
  gap: 40px;
  @media (max-width: 992px) {
    flex-direction: column;
    margin: auto;
  }
}

.menu__item {
}

.menu__link {
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: var(--text-color);
  text-decoration: none;
  transition: color .2s;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: var(--accent-color);
    left: 0;
    right: 0;
    bottom: -5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s;
  }
  @media(any-hover: hover){
    &:hover {
      color: white;
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  @media (max-width: 992px) {
    line-height: 50px;
    font-size: 30px;
  }
}

.header__buttons {
  gap: 5px;
}

.header__btn {
  background-color: transparent;
  color: var(--text-color);
  font-size: 16px;
  border: 2px solid var(--accent-color);
  padding: 11px 20px;
  transition: background-color .2s ease;
  cursor: pointer;
}

.login {
  &:hover {
    background-color: var(--accent-color);
  }
}

.register {
  background-color: var(--accent-color);
  &:hover {
    background-color: transparent;
  }
}

.menu {
  @media (max-width: 992px) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
    display: flex;
    background-color: var(--accent-color);
  }
  &-icon {
    display: none;
    @media (max-width: 992px) {
      display: block;
      height: 18px;
      width: 30px;
      position: relative;
      cursor: pointer;
      z-index: 5;
      span {
        transition: all .3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        &:first-child {
          top: 0;
        }
        &:last-child {
          top: auto;
          bottom: 0;
        }
      }
      &.active {
        span {
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }
}

