@import "mixins";

:root {
  --red: red;
  --shadow: 0 0 5px rgba(0, 0, 0, .3);
  --fontsize: 16px;
  --gray: #e5e1e1;
  --blue: #8d8dec;
}

body {
  font-size: var(--fontsize);
}

.btn {
  box-shadow: var(--shadow);

  &:hover {
    background-color: var(--gray);
    cursor: pointer;
    outline: none;

  }
}

.main {
  &__intro {
    background-color: #00B7FF;
  }
  span {
    color: var(--blue);

  }
}

.header {
  &--fixed {
    background-color: #1e7e34;
}
}

.elem1 {
  & .elem2 {
    background-color: #1dca68;
  }
}

//Миксины

.submit {
  @include btn(#e5e1e1);
}

html {
  font-weight: 500;
}








