<div class="benefits">
    <div class="benefits__item">
        <img class="img  m-auto" src="{{ 'assets/images/benefits/delivery-icon.png'|theme }}" alt="">
        <h4 class="benefits__title">fast delivery</h4>
        <div class="benefits__text">
            <p>Same day delivery as soon as possible</p>
        </div>
    </div>
    <div class="benefits__item">
        <img class="img  m-auto" src="{{ 'assets/images/benefits/discount-icon.png'|theme }}" alt="">
        <h4 class="benefits__title">SPECIAL DISCOUNT</h4>
        <div class="benefits__text">
            <p>Get attractive offers day by day</p>
        </div>
    </div>
    <div class="benefits__item">
        <img class="img  m-auto" src="{{ 'assets/images/benefits/secure-icon.png'|theme }}" alt="">
        <h4 class="benefits__title">SECURE CHECKOUT</h4>
        <div class="benefits__text">
            <p>Fully secured SSL checkout technology</p>
        </div>
    </div>
    <div class="benefits__item">
        <img class="img  m-auto" src="{{ 'assets/images/benefits/moneyback-icon.png'|theme }}" alt="">
        <h4 class="benefits__title">MONEY RETURNS</h4>
        <div class="benefits__text">
            <p>100% Money back guarntee</p>
        </div>
    </div>
</div>
