<header class="header">
    <div class="container">

        <div class="row  align-items-center">
            <div class="col-lg-4">
                <form class="search" action="/" method="post">
                    <input class="search__input" type="text" placeholder="Search">
                </form>
            </div>

            <div class="col-lg-4">
                <img class="img  m-auto" src="{{ 'assets/images/shopx-logo.png'|theme }}" alt="">
            </div>

            <div class="col-lg-4">
                <div class="header__menu">
                    <a class="header__menu-item" href="#">
                        <img src="{{ 'assets/images/user.png'|theme }}" alt="">
                    </a>
                    <a class="header__menu-item" href="#">
                        <img src="{{ 'assets/images/cart.png'|theme }}" alt="">
                        <span class="header__menu-cart">3</span>
                    </a>
                    <a class="header__menu-item" href="#">
                        <img src="{{ 'assets/images/burger.png'|theme }}" alt="">
                    </a>
                </div>
            </div>
        </div><!-- /.row -->

    </div><!-- /.container -->
</header><!-- /.header -->
