html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-y: scroll;
}

img{
  max-width: 100%;
  height: auto;
}

aside,
footer,
header,
nav {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

main {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

strong {
  font-weight: inherit;
  font-weight: bolder;
}

code,
pre {
  font-family: SF Mono,Segoe UI Mono,Roboto Mono,Menlo,Courier,monospace;
  font-size: 1em;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

*,
:after,
:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #fff;
  color: #3b4351;
  font-family: Arial;
  font-size: .8rem;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  color: #5755d9;
  outline: 0;  
  -webkit-text-decoration-skip: ink edges;
  text-decoration-skip: ink edges;
}

a:active,
a:focus,
a:hover {
  color: #302ecd;
  text-decoration: underline;
}

a:visited {
  color: #807fe2;
}

h1,
h2 {
  color: inherit;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5em;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

p {
  margin: .8rem 0;
}

mark {
  border-radius: .1rem;
  background: #ffe9b3;
  border-bottom: .05rem solid #ffd367;
  color: #3b4351;
  padding: .05rem .1rem 0;
}

ol,
ul {
  padding: 0;
}

ol,
ul,
ul ul {
  margin: .8rem 0 .8rem .8rem;
}

ol li,
ul li {
  margin-top: .4rem;
}

ul {
  list-style: disc inside;
}

ul ul {
  list-style-type: circle;
}

ol {
  list-style: decimal inside;
}