*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 0;
}

.container {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

/*Page----------------------------*/

.page {
    width: 100%;
    min-height: 100vh;
    background: black url("../img/bg.jpg") no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/*Header---------------------------*/
.header {
    background-color: #2B7DED;
    width: 100%;
    padding: 0.8rem 0;
    margin-bottom: 105px;
}
.header-inner {
    display: flex;
    justify-content: space-between;
}

.header-brand {
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.header-logo img {
    display: block;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    margin-left: 1.5rem;
    transition: color .2s linear;
}

.header-nav-link:hover {
    color: #c9d7f4;
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active:after {
    content: '';
    width: 100%;
    background-color: #fff;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -3px;
}

.header-inner {
    align-items: center;
}

/*Content----------------------------*/

.content {
    max-width: 568px;
    width: 100%;
}
.content-header {
    margin-bottom: 2.4rem;
}

.subtitle {
    font-size: 1.4rem;
    line-height: 1.86rem;
    color: #fff;
    opacity: 0.6;
    font-weight: 300;
    margin-bottom: 0.33rem;
}

.title {
    font-size: 2rem;
    line-height: 2.6rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

.title span {
    color: #2B7DED;
}

.text {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 50px;
}

/*Btn---------------------------*/

.btn {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #fff;
    font-weight: 500;
    padding: 0.9em 2.66em;
    background-color: #2b7ded;
    border-radius: 5px;
    text-decoration: none;
    transition: all ease .2s;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn-full {
    width: 100%;
    display: block;
}

.btn:hover {
    background-color: #1371df;
}

/*Author---------------------------*/
.author {
    position: absolute;
    right: 70px;
    bottom: 0;
    width: 390px;
    height: auto;

}

/*Footer---------------------------*/
.footer {
    position: absolute;
    left: 0;
    bottom: 45px;
    color: #fff;
    width: 100%;
}

.contacts {
    display: flex;
    align-items: center;
}

.contacts-link {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-right: 2rem;

}

.contacts-link:last-child {
    margin-right: 0;
    position: relative;
}

.contacts-link:last-child:after {
    content: '';
    width: 80px;
    height: 2px;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    left: 100%;
    bottom: 50%;
    margin-left: 2.8rem;
    pointer-events: none;
}


.contacts-link:hover {
    text-decoration: underline;
}

.contacts-icon {
    margin-right: 5px;
}

/*Form---------------------------*/

.form {
    max-width: 280px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.input,
.textarea {
    width: 100%;
    font-family: inherit;
    display: block;
    font-size: 1rem;
    background-color: rgba(255,255,255, 0.1);
    border: none;
    line-height: 1.6em;
    padding: 8px 18px;
    color: #fff;
    border-radius: 5px;
}

.input::placeholder,
.textarea::placeholder {
    color: #fff;
}

.textarea {
    height: 100px;
    resize: vertical;
    max-height: 173px;
}

/*Media---------------------------*/

@media (min-width: 1800px) {
    * {
        font-size: 50px;
    }
}


/*@media (orientation: portrait) and (max-width: 800px){*/
/*    .author {*/
/*        display: none;*/
/*    }*/
/*}*/






/*@media (max-width: 1100px){*/
/*    .author {*/
/*        right: 15px;*/
/*        width: 352px;*/
/*    }*/
/*}*/

/*@media (max-width: 950px) {*/
/*    .author {*/
/*        right: -30px;*/
/*    }*/
/*}*/

/*@media (max-width: 900px) {*/
/*    .header {*/
/*        margin-bottom: 89px;*/
/*    }*/
/*}*/

/*@media (max-width: 880px) {*/
/*    .author {*/
/*        right: -60px;*/
/*    }*/
/*    .content {*/
/*        max-width: 550px;*/
/*    }*/
/*}*/

/*@media (max-width: 830px){*/
/*    .content {*/
/*        max-width: 510px;*/
/*    }*/
/*    .contacts-link:last-child:after {*/
/*        display: none;*/
/*    }*/
/*    .container {*/
/*        padding-left: 2rem;*/
/*        padding-right: 2rem;*/
/*    }*/
/*}*/

/*@media (max-width: 780px){*/
/*    .author {*/
/*        right: -80px;*/
/*    }*/
/*    .content {*/
/*        max-width: 469px;*/
/*    }*/
/*}*/

/*@media (max-width: 767px){*/
/*    .header-nav-link {*/
/*        font-size: 1.2rem;*/
/*    }*/
/*    .header-logo {*/
/*        display: none;*/
/*    }*/
/*    .content {*/
/*        max-width: 457px;*/
/*    }*/
/*}*/

/*@media (max-width: 740px) {*/
/*    .author {*/
/*        right: -97px;*/
/*    }*/
/*}*/

/*@media (max-width: 715px) {*/
/*    .content {*/
/*        max-width: 450px;*/
/*    }*/
/*}*/





/*@media (max-width: 991px) {*/
/*@media (max-width: 767px)*/
/*@media (max-width: 575px)*/

/*@media (max-width: 1000px) {*/

/*    .author {*/
/*        right: -170px;*/
/*    }*/

/*}*/

/*@media (max-width: 767px) {*/

/*    .page {*/
/*        min-height: 100vh;*/
/*        height: auto;*/
/*        padding-bottom: 2rem;*/
/*    }*/

/*    !* Header *!*/
/*    .header {*/
/*        margin-bottom: 50px;*/
/*    }*/

/*    .header-logo {*/
/*        display: none;*/
/*    }*/

/*    .header-brand {*/
/*        font-size: 1.2rem;*/
/*    }*/


/*    !* Content *!*/
/*    .content {*/
/*        max-width: none;*/
/*        margin-bottom: 50px;*/

/*        text-align: center;*/
/*    }*/


/*    !* Form *!*/
/*    .form {*/
/*        margin: 0 auto;*/
/*    }*/


/*    !* Footer *!*/
/*    .footer {*/
/*        position: static;*/
/*    }*/


/*    !* Contacts *!*/
/*    .contacts {*/
/*        flex-direction: column;*/
/*    }*/

/*    .contacts-link {*/
/*        margin-right: 0;*/
/*        margin-bottom: .5rem;*/
/*    }*/

/*    .contacts-link:last-child {*/
/*        margin-bottom: 0;*/
/*    }*/

/*    .contacts-link:last-child:after {*/
/*        display: none;*/
/*    }*/

/*    !* Author *!*/
/*    .author {*/
/*        display: none;*/
/*    }*/
/*}*/

/*@media (max-width: 565px) {*/

/*    !* Header *!*/
/*    .header-inner {*/
/*        flex-direction: column;*/
/*    }*/

/*    .header-brand {*/
/*        margin-bottom: 1rem;*/
/*    }*/
/*}*/


/*@media (max-width: 320px) {*/
/*    .subtitle {*/
/*        font-size: 1.2rem;*/
/*    }*/

/*    .title {*/
/*        font-size: 1.6rem;*/
/*    }*/
/*}*/