.btn {
    color: white;
    background-color: $black;
    border-radius: $radius;
    box-shadow: $shadow;

    &:hover {
        background-color: $gray;
    }

    &--red {
        @include btn(#e82626);
    }

    &--blue {
        @include btn(#1071d1);
    }
}

.btn__text {
    text-align: center;
}
